h2.title {
    font-size: 17px;
    font-weight: 700;
    color: #2a2b32;
    background-image: url(images/form-1/alert.svg);
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 38px;
    margin-top: 50px;
    margin-bottom: 40px;
}

textarea.otherRules {
    margin-bottom: 25px;
}

.noteInfo {
    margin-bottom: 0;
    font-size: 17px;
    font-weight: 400;
    color: #2a2b32;
}

.rule {
    border-bottom: 1px solid #bbb8b7;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.ruleVerbose {
    font-size: 17px;
    font-weight: 600;
    color: #2a2b32;
    margin-top: 0;
    margin-bottom: 10px;
}

li.autoWidth {
    width: auto;
    margin-right: 20px;
}

li.autoWidth:not(:last-child) {
    margin-right: 0;
}

.comments {
    background-color: #e6e6e657 !important;
    height: calc(2.25rem + 34px) !important;
    padding-left: 60px !important;
    padding-right: 20px !important;
    border-bottom: 0 !important;
    border-radius: 5px !important;
}