{% extends 'utils/base_auth.html' %}

{% block in-container-content %}

    <br>
    <div class="row">


        <!-- BEGIN SIDEBAR -->
        <div class="col-sm-4 col-md-3 hidden-xs">

            <div>
                <div class="block">
                    <div class="panel panel-default">
                        <ul class="list-group">
                            <li class="list-group-item clearfix" href="">
                                <span class="list-group-item-heading">Messages for House</span>
                            </li>

                            {% for house_thread in house_threads %}
                                <a class="list-group-item clearfix thread-item" id="{{ forloop.counter0 }}"
                                   data-url="{% url 'messaging:thread_messages' house_thread.uuid %}"
                                   thread-link="{{ house_thread.uuid }}" thread-about="{{ house_thread.entity }}"
                                   listing-url="{% url 'house:info' house_thread.entity.uuid %}">
                                    <img src="/static/img/placeholders/profile/default.png"
                                         class="img-circle pull-left" style="height: 50px; margin-right: 10px;"/>
                                    <span class="list-group-item-heading"
                                          id="chat-person-{{ forloop.counter0 }}">{{ house_thread.initiator.first_name }}</span>
                                    <p class="list-group-item-text"
                                       style="white-space: pre; overflow: hidden; text-overflow: ellipsis;">{{ house_thread.latest_msg }}</p>
                                </a>

                            {% endfor %}




                            <li class="list-group-item clearfix" href="">
                                <span class="list-group-item-heading">Messages for Stay</span>
                            </li>

                            {% for hp in hp_threads %}
                                <a class="list-group-item clearfix"
                                   data-url="{% url 'messaging:thread_messages' house_thread.uuid %}"
                                   thread-link="{{ hp.uuid }}" thread-about="{{ hp.entity }}">
                                    <img src="/static/img/placeholders/profile/default.png"
                                         class="img-circle pull-left" style="height: 50px; margin-right: 10px;"/>
                                    <span class="list-group-item-heading"
                                          id="chat-person">{{ hp.initiator.first_name }}</span>
                                    <p class="list-group-item-text"
                                       style="white-space: pre; overflow: hidden; text-overflow: ellipsis;">{{ hp.latest_msg }}</p>
                                </a>

                            {% endfor %}


                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <!-- END SIDEBAR -->

        <!-- BEGIN MAIN CONTENT -->
        <div class="col-sm-8 col-md-9">

            <div class="panel panel-default">
                <ul class="list-group">
                    <div class="list-group-item" id="thread-title">
                        <img class="img-circle"
                             src="/static/img/placeholders/profile/default.png" alt="..."
                             style="width: 50px; margin-right: 10px;">
                        Text here
                    </div>
                    <div class="list-group-item clearfix">
                        <div class="pull-left">
                            Phone Number
                        </div>
                        <div class="pull-right">
                            <a id="view-lisitng" href="">View Listing</a>
                        </div>
                    </div>
                    <div class="list-group-item" style="padding-bottom: 50px;">
                        <div class="text-center" id="thread-about">
                            <p id="chat-about">Re: About</p>
                        </div>
                        <div class="media" id="msg-content">


                        </div>
                    </div>
                    <div class="list-group-item">
                        <form id="send-msg" action=""
                              method="POST">
                            <div class="form-group" id="form-container">
                                {{ form.content }}
                            </div>
                            <button type="submit" class="btn btn-primary" id="send-msg-btn">Send</button>
                        </form>
                    </div>
                </ul>
            </div>

        </div>
        <!-- END MAIN CONTENT -->

    </div>


{% endblock %}


{% block js_script %}
    <script>
        $('.thread-item').click(function (event) {
            event.preventDefault();
            var link = $(this).attr("data-url");
            var chat_person = $('#chat-person-' + $(this).attr("id")).text();
            var thread_about = $(this).attr("thread-about");
            $('#view-lisitng').attr('href', $(this).attr("listing-url"));
            $('form#send-msg').attr("action", $(this).attr("thread-link"));
            $.ajax({
                url: link
            })
                .done(function (data) {
                        $("#msg-content").empty();
                    $('#thread-title').text(chat_person);
                    $('#thread-about').text('Re: About ' + thread_about);
                        $.each(data, function (i, item) {

                            var html = "<div class=\"media\">\n" +
                                "                            <div class=\"media-left pull-left\">\n" +
                                "                                <a href=\"#\">\n" +
                                "                                    <img class=\"media-object img-circle\"\n" +
                                "                                         src=\"/static/img/placeholders/profile/default.png\"\n" +
                                "                                         alt=\"...\" style=\"width: 50px;\">\n" +
                                "                                </a>\n" +
                                "                            </div>\n" +
                                "                            <div class=\"media-body\">\n" +
                                "                                <div class=\"panel panel-default\" style=\"margin-bottom: 0; max-width: 75%;\">\n" +
                                "                                    <div class=\"panel-body bg-success\">\n" +
                                "                                        <p>" + item['content'] + "</p>\n" +
                                "                                        <p class=\"media-heading pull-right\">\n" +
                                "                                            " + item['send_time'] + "</p>\n" +
                                "                                    </div>\n" +
                                "                                </div>\n" +
                                "                            </div>\n" +
                                "\n" +
                                "                        </div>";

                            $("#msg-content").append(html)

                        })
                    }
                )

        })
    </script>

    <script>
        function getCookie(name) {
            var cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                var cookies = document.cookie.split(';');
                for (var i = 0; i < cookies.length; i++) {
                    var cookie = jQuery.trim(cookies[i]);
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        var csrftoken = getCookie('csrftoken');

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });


        $('#send-msg-btn').click(function (event) {
            event.preventDefault();
            var text = $("#id_content").val();
            var uuid = $("form#send-msg").attr('action');
            {#var csrftoken = getCookie('csrftoken');#}
            var data = {'thread_uuid': uuid, 'content': text};
            $.ajax({
                method: "POST",
                url: '{% url 'messaging:send_message' %}',
                data: data
            })
                .done(function (data) {
                    $("#id_content").val('');

                })
        })

    </script>


{% endblock %}