# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class


# Environments
.venv
.env
env/
venv/
ENV/
env.bak/
venv.bak/

docker-compose.override.yml

.vscode

static_dev/

frontend/node_modules
frontend/dist/

src/static/v2/frontend/

.idea

/rentality/
bin/old/
nginx/production/

./backend/app/src/__test_emails