asgiref==2.2.0
async-timeout==2.0.1
attrs==17.4.0
autobahn==18.4.1
Automat==0.6.0
certifi==2018.1.18
channels==2.0.2
chardet==3.0.4
constantly==15.1.0
daphne==2.1.0
defusedxml==0.5.0
Django==2.0.4
django-allauth==0.35.0
django-appconf==1.0.1
django-autocomplete-light==3.2.10
django-autoslug==1.9.3
django-braces==1.12.0
django-cities==0.5.0.6
django-debug-toolbar==1.9.1
django-filter==1.1.0
django-formtools==2.1
django-model-utils==3.1.1
django-private-chat==0.1.8
djangorestframework==3.7.7
easy-thumbnails==2.5
elasticsearch==6.1.1
elasticsearch-dsl==6.1.0
hyperlink==18.0.0
idna==2.6
incremental==17.5.0
ipaddress==1.0.19
Markdown==2.6.11
oauthlib==2.0.6
Pillow==5.0.0
progressbar2==3.37.1
psycopg2==2.7.4
python-dateutil==2.6.1
python-utils==2.3.0
python3-openid==3.1.0
pytz==2018.4
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
sqlparse==0.2.4
swapper==1.1.0
tqdm==4.23.1
Twisted==17.9.0
txaio==2.10.0
Unidecode==1.0.22
urllib3==1.22
websockets==3.2
zope.interface==4.4.3
