.btnCircle.btnXl {
    width: 40px;
    height: 40px;
    padding: 6px 0px;
    border-radius: 35px;
    font-size: 18px;
    line-height: 1.33;
}

.btnCircle {
    width: 30px;
    height: 30px;
    padding: 6px 0;
    border-radius: 15px;
    text-align: center;
    font-size: 12px;
    line-height: 1.42857;
    background-color: transparent;
    color: #39ffaf;
    border-color: transparent;
    margin-left: 20px;
}

.btnCircle.active {
    box-shadow: 0 0 0 0.2rem rgba(57, 255, 175, .5)
}

.btnCircle:hover {
    background-color: #39ffaf;
    color: #ffffff;
    border-color: transparent;
}

.btnCircle:focus {
    box-shadow: 0 0 0 0.2rem rgba(57, 255, 175, .5)
}

.btnCircle.cancelCustom{
    color: #dc3545;
    font-size: 20px;
}

.btnCircle.cancelCustom:hover{
    background-color: #dc3545;
    color: #ffffff;
    border-color: transparent;
}

.btnCircle.cancelCustom:focus {
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.5)
}


.cardButtonGroup {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.cardTextContent {
    flex-grow: 1;
    align-items: center;
    flex-basis: 40%;
}

.cardBody {
    display: flex;
    align-items: center;
}

.availabilitySelectorContainer{
    display: flex;
    align-items: center;
    justify-content: center;
}

.invalidFeedback {
    flex-grow: 1;
    align-items: center;
    flex-basis: 20%;
}