{% extends 'house/add_house/base.html' %}

{% block head_extra_scripts %}
    <link href="/static/css/datetimepicker.css" rel="stylesheet"/>

{% endblock %}

{% block listing-form-body %}
    <h1 class="property-title">Property Owner Details</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    {% csrf_token %}
                    <p>Upload your profile photo</p>
                    {{ form.profile_pic }}
                    {{ form.dob }}
                    {{ form.sex }}
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="clearfix">
            <p class="pull-right clearfix">
                <input type="submit" class="btn btn-fullcolor" value="Save" name="save">
                <input type="submit" class="btn btn-default-color" value="Save & List" name="savetolist">
            </p>
        </div>
    </form>
    <hr/>
    <p>&nbsp;</p>

{% endblock %}

{% block js_script %}
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $('#id_dob').datetimepicker({
            format: 'yyyy-mm-dd',
            startView: 'decade',
            autoclose: true,
            minView: 'month'
        });
    </script>
{% endblock %}