.rt-date-picker .react-calendar__month-view__days__day--weekend {
    color: black;
}

.rt-date-picker .react-calendar__tile--hasActive {
    background-color: #2A2B32;
    color: #ededed;
}

.rt-date-picker .react-calendar button:enabled:hover ,
.rt-date-picker .react-calendar button:enabled:focus
 {
    background-color: #32d8a0;
    color:black;
}

.rt-date-picker .react-calendar__tile:enabled:focus {
    background-color: #32d8a0;
}

.rt-date-picker .react-calendar__tile--active {
    background-color: #2A2B32;
    color: #ededed;
}
