.pageForm {
    padding-top: 50px;
    padding-bottom: 120px;
}

.button {
    text-align: right;
    margin-top: 100px;
    margin-bottom: 50px;
}

.button > .btn {
    font-size: 16px;
    border-radius: 99px;
    font-weight: 700;
    color: #36ffb1 !important;
    background-color: #2a2b32 !important;
    padding: 11px 59px;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
}

.button > .btn:not(:last-child) {
    margin-right: 20px;
}

.button > .btn:hover, .button > .btn:focus {
    text-decoration: none;
    color: #2a2b32;
    background-color: #36ffb1;
}

.button > a.btn.errorBtn {
    color: red !important;
    background-color: #e6e6e6 !important;
    pointer-events: none !important;
}

.button > a.btn.loadingBtn {
    pointer-events: none !important;
}

.button > a.btn.doneBtn {

}


.formSettings {
    padding-top: 15px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}

.formSettings:hover {
    border-bottom: 1px solid #3fc692;
    box-shadow: 0 6px 6px -7px #3fc692 !important;
}

.dropdownList {
    border: none;
    border-radius: 4px;
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.5);
    margin-top: 20px;
}

.dropdownList:after {
    content: '';
    display: block;
    position: absolute;
    top: -10px;
    right: 15px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #ffffff transparent;
}