{% extends 'tenant/add_edit/base.html' %}

{% block head_extra_scripts %}
    <link href="/static/css/datetimepicker.css" rel="stylesheet"/>

{% endblock %}

{% block listing-form-body %}
    <h1 class="property-title">Preferences</h1>
    <form action="" method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">

                    {% csrf_token %}

                    {{ form.as_p }}

                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="clearfix">
            <p class="pull-right clearfix">
                <input type="submit" class="btn btn-fullcolor" value="Save" name="save">
                <input type="submit" class="btn btn-default-color" value="Save & Next" name="savetonext">
            </p>
        </div>
    </form>

{% endblock %}

{% block js_script %}
    <script src="/static/js/bootstrap-datetimepicker.min.js"></script>
    <script>
        $('#id_move_in_date_0').datetimepicker({
            format: 'yyyy-mm-dd',
            startView: 'decade',
            autoclose: true,
            minView: 'month'
        });
        $('#id_move_in_date_1').datetimepicker({
            format: 'yyyy-mm-dd',
            startView: 'decade',
            autoclose: true,
            minView: 'month'
        });
        $('#id_move_out_date_0').datetimepicker({
            format: 'yyyy-mm-dd',
            startView: 'decade',
            autoclose: true,
            minView: 'month'
        });
        $('#id_move_out_date_1').datetimepicker({
            format: 'yyyy-mm-dd',
            startView: 'decade',
            autoclose: true,
            minView: 'month'
        });
    </script>
{% endblock %}