{% extends 'tenant/add_edit/base.html' %}

{% block listing-form-body %}
    <h1 class="property-title">Before you go</h1>
    <form action="" method="POST">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">

                    {% csrf_token %}

                    {{ form.as_p }}

                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="clearfix">
            <p class="pull-right clearfix">
                <input type="submit" class="btn btn-fullcolor" value="Save" name="save">
                <input type="submit" class="btn btn-default-color" value="Save & List" name="savetolist">
            </p>
        </div>
    </form>
    <hr/>
    <p>&nbsp;</p>

{% endblock %}