<div class="e-mail">
    <h2 class="title">Get news from innovations </h2>
    <form action="" method="">
        <div class="detail">
            <div class="row">
                <div class="col-md-7 col-lg-8">
                    <input type="text" name="" class="form-control"
                           placeholder="Your Mail address">
                </div>
                <div class="col-md-5 col-lg-4">
                    <button type="button" class="btn btn-link btn-block">Submit</button>
                </div>
            </div>
        </div>
    </form>
</div>