{% extends 'base.html' %}

{% load static %}

{% block head_title_add %}
    How it Works |
{% endblock %}

{% block page_description %}
    How it Works
{% endblock %}

{% block keyword_meta_add %}
    How it Works
{% endblock %}

{% block content %}
    <div class="page-how-does-it-work">
        <div class="container">
            <h1 class="title">How does it work</h1>
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item">
                    <a href="#tab-1" class="nav-link active show" data-toggle="tab">How do I make a booking?</a>
                </li>
                <li class="nav-item">
                    <a href="#tab-2" class="nav-link" data-toggle="tab">How do I become a host?</a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab-1" class="tab-pane fade active show">
                    <div class="lists">
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/1/1.svg" %}');">
                            <div class="rank">1</div>
                            <h1>
                                <br>
                                <br>
                                Enter the dates and destination of when and where you are looking to rent</h1>
                            <br>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/1/2.svg" %}');">
                            <div class="rank">2</div>
                            <h1>
                                <br>
                                <br>
                                Find and select a property that best suit your needs
                                <br>
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/1/3.svg" %}');">
                            <div class="rank">3</div>
                            <h1>
                                <br>
                                <br>
                                Click the “Apply Now” button to request for a booking
                                <br>
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/1/4.svg" %}');">
                            <div class="rank">4</div>
                            <h1>
                                <br>
                                <br>
                                You will then be prompted to fill in your payment details. (The payment is inclusive of
                                Rentality's service fee)
                                <br>
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/1/5.svg" %}');">
                            <div class="rank">5</div>
                            <h1>
                                <br>
                                <br>
                                Once approved you will receive an email of your rental booking confirmation with
                                further information on the logistics of moving in.
                                <br>
                            </h1>
                        </div>
                    </div>
                </div>
                <div id="tab-2" class="tab-pane fade">
                    <div class="lists">
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/2/1.svg" %}');">
                            <div class="rank">1</div>
                            <h1>
                                <br>
                                <br>
                                <br>
                                Signup or Login
                                <br>
                                <br>
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/2/2.svg" %}');">
                            <div class="rank">2</div>
                            <h1>
                                <br>
                                <br>
                                Select the “List Your Home” button on the top right of the page
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/2/3.svg" %}');">
                            <div class="rank">3</div>
                            <h1>
                                <br>
                                <br>
                                Fill in details about your property and upload photos of your property
                                <br>
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/2/4.svg" %}');">
                            <div class="rank">4</div>
                            <h1>
                                <br>
                                <br>
                                Provide us with your bank account details that you want to receive payments in
                                <br>
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/2/5.svg" %}');">
                            <div class="rank">5</div>
                            <h1>
                                <br>
                                <br>
                                Your property is now listed, and you would be notified when a tenant makes a booking to
                                rent your
                                property
                                <br>
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/2/6.svg" %}');">
                            <div class="rank">6</div>
                            <h1>
                                <br>
                                <br>
                                Rentality would charge the tenant one month of rent to
                                secure the booking. You would then receive an email of the booking confirmation with
                                further information on the logistics of hosting your tenant
                                <br>
                            </h1>
                        </div>
                        <div class="list"
                             style="background-image: url('{% static "image/page-how-does-it-work/2/8.svg" %}');">
                            <div class="rank">7</div>
                            <h1>
                                <br>
                                <br>
                                24 Hours after the tenant has moved in, you would receive one month of rent as the
                                booking payment (Rentality would charge a 4% service fee of the whole booking)
                                <br>
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if not request.user.is_authenticated %}
        <!-- subscribe start -->
        <div class="subscribe">
            <div class="container">
                <h2 class="title">Subscribe for our Newsletter</h2>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <form action="" method="">
                            <div class="detail">
                                <div class="row">
                                    <div class="col-md-7 col-lg-8">
                                        <input type="text" name="" class="form-control"
                                               placeholder="Enter Email Address">
                                    </div>
                                    <div class="col-md-5 col-lg-4">
                                        <button type="button" class="btn btn-link btn-block">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <!-- subscribe end -->
    {% endif %}

{% endblock %}