{% extends 'utils/base_user_auto.html' %}
{% load thumbnail %}

{% block in-container-content %}
    <!-- BEGIN CONTENT WRAPPER -->


    <!-- BEGIN MAIN CONTENT -->
    <div class="main row">
        <div class="col-sm-4 col-md-3" style="padding-top: 15px;">

            <!-- BEGIN AGENCY DETAIL -->
            <div class="clearfix">
                <div class="property-agent-info">
                    <div class="agent-detail col-md-12">
                        <div class="image">
                            <img alt="" src="{% if house_pref.is_thumbnail_available %}
                                        {% thumbnail house_pref.get_thumbnail 368x368 crop="smart" %}
                                        {% else %}
                                        {{ house_pref.get_thumbnail }}
                                        {% endif %}">
                        </div>

                        <div class="info">
                            <header style="border-bottom: none; margin-bottom: 0; padding-bottom: 0; text-align: center">
                                <h2>{{ house_pref.tenant.user.get_full_name }}</h2>
                            </header>
                        </div>
                    </div>

                    <div class="form-style col-md-12">
                        {% if request.user.is_authenticated %}

                            <form class="form-style col-md-12" method="POST"
                                  action="">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-sm-12">
                                        {{ msg_form.content }}
                                    </div>

                                    <div class="row center">
                                        <button type="submit" class="btn btn-default-color">Send Offer</button>
                                    </div>
                                </div>
                            </form>
                        {% else %}
                            <form class="form-style col-md-12"
                                  action="">

                                <div class="row">
                                    <div class="col-sm-12">
                                        <textarea name="content" placeholder="Please login to send a message" cols="40"
                                                  rows="10"
                                                  class="form-control" id="id_content" disabled></textarea>
                                    </div>

                                    <div class="row center">
                                        <button type="submit" class="btn btn-default-color">Send Offer</button>
                                    </div>
                                </div>
                            </form>

                        {% endif %}

                    </div>

                </div>
            </div>
            <!-- END AGENCY DETAIL -->
        </div>
        <!-- END MAIN CONTENT -->
        <div class="col-sm-8 col-md-9" style="padding-top: 15px;">

            <h1 class="property-title">{{ house_pref.tenant.user.get_full_name }}
                <small>Looking for a place</small>
            </h1>

            <p>Budget: ${{ house_pref.max_budget }}/week</p>


            <p>Preferred Length: {{ house_pref.move_in_date.lower }} to {{ house_pref.move_in_date.upper }}</p>

            <p>Preferred Suburb: {% for location in house_pref.locations.all %}
                {{ location.suburb }};

            {% endfor %}
            </p>


            <p>Preferred Accommodation: {{ house_pref.get_property_type_display }}</p>

            <h2 class="section-title">
                <div class="text_left">
                    About {{ house_pref.tenant.user.get_full_name }}
                </div>
            </h2>
            <p>{{ house_pref.description }}</p>
        </div>
    </div>



    <!-- END CONTENT WRAPPER -->



{% endblock %}