{% extends 'staff/base.html' %}

{% load static %}
{% load staff_custom_tags %}

{% block content %}
    <div class="right_col" role="main">
        <div class="page-title">
            <div class="title_left">
                <h3>Houses List </h3>
            </div>
            <div class="title_right">

            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                    <div class="x_title">
                        <h2>Houses
                            <small>Click to see details</small>
                        </h2>
                        <ul class="nav navbar-right panel_toolbox">
                            <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                            </li>
                            <li><a class="close-link"><i class="fa fa-close"></i></a>
                            </li>
                        </ul>
                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>#</th>
                                <th>Home Owner</th>
                                <th>Property Name</th>
                                <th>Rent</th>
                                <th>Address</th>
                                <th>Status</th>
                                <th>Updated On</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for house in houses %}
                                <tr>
                                    <th scope="row">{{ forloop.counter }}</th>
                                    <td>
                                        <a href="{% url 'staff:house_details' uuid=house.uuid %}">{{ house.home_owner }}</a>
                                    </td>
                                    <td>{{ house.title }}</td>
                                    <td>{{ house.rent }}</td>
                                    <td>{{ house.get_complete_address }}</td>
                                    <td>{{ house.get_status_display }}</td>
                                    <td>{{ house.updated_on }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

