/**************************/
/***** page map start *****/
/**************************/

.noData {
    padding: 24vh 0;
}

.pageMap {
    margin-bottom: 50px;
}

.pageMap.active {
    width: 560px;
}

.pageMap .list {
    display: block;
    margin-top: 30px;
    position: relative;
    overflow: hidden;
}

.pageMap .list:hover,
.pageMap .list:focus {
    text-decoration: none;
}

.pageMap .list .image {
    position: relative;
    overflow: hidden;
}

.pageMap .list .image img {
    transition: all 0.25s ease-in-out;
    transform: scale(1, 1) rotate(0deg);
}

.pageMap .list:hover .image img {
    transform: scale(1.15, 1.15) rotate(-5deg);
}

.pageMap .list h1 {
    color: #4d4d4d;
    font-size: 15px;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 0;
}

.pageMap .list:hover h1 {
    color: #36ffb1;
}

.pageMap .list h2 {
    color: #bcbcbc;
    font-size: 15px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
}

.pageMap .list div {
    color: #9d9d9d;
    font-size: 14px;
    font-weight: 400;
}

.pageMap .list div span {
    color: #4d4d4d;
    font-weight: 700;
    margin-left: 8px;
}

.pageMap .list div + div {
    margin-top: 6px;
}

.pageMap .list .rating {
    position: absolute;
    right: 0;
    bottom: 0;
}

.pageMap .list .rating span {
    font-size: 15px;
    font-weight: 400;
    color: #39ac1e;
    margin-right: 5px;
}

.image > .leasedImgTag {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px !important;
    font-weight: 700 !important;
    color: #39ffaf !important;
    border-radius: 45px;
    border-style: solid;
    border-width: 5px;
    border-color: #39ffaf;
    padding-top: 8px;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    transition: all 0.25s ease-in-out;
}

/************************/
/***** page map end *****/
/************************/
