.date-range-picker{
    position: absolute;
    transform: translate3d(0px, 46px, 0px);
    top: 21px;
}

.date-range-picker > .rdrDefinedRangesWrapper{
    display: none
}

.rdrCalendarWrapper{
    border: 1px lightgray solid;
    border-radius: 10px
}