{% extends 'property/create_edit/base.html' %}

{% load static %}

{% block override_form_12_block %}
#form-12
{% endblock %}
{% block forms %}
    {% include 'property/create_edit/components/form_1.html' %}
{% endblock %}

{% block form_script_pre %}
    <script>
        $('.full-header div[id^="full-header-"] a.form-change').each(function () {
            $(this).addClass('disabled');
        });
        $('.header div[id^="sub-header-"] a.form-change').each(function () {
            $(this).addClass('disabled');
        });
    </script>
{% endblock %}

{% block override_next %}
    $('#next-step').click(function () {
    var main_form = $('#main_form');
    $('#id_main-form-submit').prop('checked', true);
    $('#id_main-form-exit').prop('checked', false);
    $('#id_main-form-list_now').prop('checked', false);
    window.removeEventListener("beforeunload", confirm_leave);
    main_form.submit();
    });
{% endblock %}