{% extends 'property/create_edit/base.html' %}

{% load static %}

{% block forms %}
    {% include 'property/create_edit/components/form_1.html' %}
    {% include 'property/create_edit/components/form_2.html' %}
    {% include 'property/create_edit/components/form_3.html' %}
    {% include 'property/create_edit/components/form_4.html' %}
    {% include 'property/create_edit/components/form_5.html' %}
    {% include 'property/create_edit/components/form_6.html' %}
    {% include 'property/create_edit/components/form_7.html' %}
    {% include 'property/create_edit/components/form_8.html' %}
    {% include 'property/create_edit/components/form_9.html' %}
    {% include 'property/create_edit/components/form_10.html' %}
    {% include 'property/create_edit/components/form_11.html' %}
    {% include 'property/create_edit/components/form_12.html' %}

{% endblock %}

{% block form_script_post %}
    <script>
        // Form 9 - User Image upload
        Dropzone.autoDiscover = false;
        $("div#profile-img-dropzone").dropzone({
            url: "/file/post",
            paramName: "image",
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            }
        });
    </script>
    <script>
        // Form 5 - House image upload
        $("div#house-img-dropzone").dropzone({
            url: "{% url 'house:add_house_images' house_uuid=house.uuid %}",
            paramName: "image",
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            }
        });

        $('a[id^="delete-image-"]').click(function (e) {
            e.preventDefault();
            var form_num = $(this).attr("id").split('-')[2];
            $('#thumbnail-container-' + form_num).hide();
            $('#id_images-form-' + form_num + '-DELETE').prop('checked', true);
        });

        $('a[id^="set-thumbnail-"]').click(function (e) {
            e.preventDefault();
            var form_num = $(this).attr("id").split('-')[2];
            $('#id_images-form-' + form_num + '-is_thumbnail').prop('checked', true);
            check_thumbnail_highlight(form_num);
            $('#thumbnail-container-' + form_num).addClass('highlight');

        });

        $(document).ready(function () {

        })

    </script>
    <script>
        // Form 2 - Availability Form
        function delete_availability(id) {
            console.log("here" + id);
            $('#availability-list-' + id).remove();
        }

        $('.delete-availability-btn-prev').on('click', function () {
            delete_availability(this.id.split('-').pop());
        });


        $('div[input^="periodic-checkbox-"]').on('click', function () {
            console.log(this.id);

        });


        function get_dates_html(date_arr, curr_availability_form) {
            var html = '' +
                '<li class="list-group-item" id="availability-list-1">\n' +
                '                    <div class="row">\n' +
                '                    <input type="checkbox" name="availability-form-0-DELETE" id="id_availability-form-0-DELETE">\n' +
                '                        <div class="col-md-4">\n' +
                '                           ' + date_arr[0] + 'to' + date_arr[1] +
                '                        </div>\n' +
                '                        <div class="col-md-4">\n' +
                '                            <div class="custom-control custom-checkbox">\n' +
                '                            <input type="checkbox" name="availability-form-0-periodic" id="id_availability-form-0-periodic" class="custom-control-input">\n' +
                '                                <label class="custom-control-label" for="checkbox-1">Periodic Yearly</label>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                        <div class="col-md-4">\n' +
                '                            <div class="text-right">\n' +
                '                                <button type="button" class="btn btn-danger btn-sm delete-availability-btn-prev" id="delete-availability-' + curr_availability_form + '">\n' +
                '                                    Delete\n' +
                '                                </button>\n' +
                '                            </div>\n' +
                '                        </div>\n' +
                '                    </div>\n' +
                '                </li>';

            return html
        }

        var curr_availability_form = {{ availability_formset.initial_form_count }};
        var total_availability_form = {{ availability_formset.total_form_count }};
        var calendar_feedback = $('#calendar-invalid-feedback-manual');
        $('#add-dates').click(function () {
            calendar_feedback.text();
            var date_arr = pickmeup('#availability-calendar').get_date(true);
            var date_arr_cal = pickmeup('#availability-calendar').get_date(false);
            if (date_arr.length > 0) {
                var time_diff = 2332800000; // 27 days in seconds
                if ((date_arr_cal[1].getTime() - date_arr_cal[0].getTime()) > time_diff) {
                    var html = get_dates_html(date_arr, curr_availability_form);
                    $('ul#availability-dates-list').append(html);
                    $("#delete-availability-" + curr_availability_form).on("click", function () {
                        delete_availability(curr_availability_form);
                    });
                    $('#id_availability-form-' + curr_availability_form + '-dates_0').val(date_arr[0]);
                    $('#id_availability-form-' + curr_availability_form + '-dates_1').val(date_arr[1]);
                    curr_availability_form += 1;
                    if (curr_availability_form >= total_availability_form) {
                        $('#id_main-form-submit').prop('checked', true);
                        $('#id_main-form-exit').prop('checked', false);
                        $('#id_main-form-list_now').prop('checked', false);
                        window.removeEventListener("beforeunload", confirm_leave);
                        $('#main_form').submit();
                    }
                }
                else {
                    console.log("Error in dates");
                    calendar_feedback.text('Minimum length of stay allowed is more than or equal to 28 days.')
                }
            }
        });

        $('#clear-dates').click(function () {
            pickmeup('#availability-calendar').clear();
        });

    </script>

{% endblock %}