{% extends 'property/create_edit/base.html' %}

{% load static %}

{% block forms %}
    {% include 'property/create_edit/components/form_1.html' %}
    {% include 'property/create_edit/components/form_2.html' %}
    {% include 'property/create_edit/components/form_3.html' %}
    {% include 'property/create_edit/components/form_4.html' %}
    {% include 'property/create_edit/components/form_5.html' %}
    {% include 'property/create_edit/components/form_6.html' %}
    {% include 'property/create_edit/components/form_7.html' %}
    {% include 'property/create_edit/components/form_8.html' %}
    {% include 'property/create_edit/components/form_9.html' %}
    {% include 'property/create_edit/components/form_10.html' %}
    {% include 'property/create_edit/components/form_11.html' %}

{% endblock %}

{% block form_script_post %}
    <script>
        // Form 9 - User Image upload
        Dropzone.autoDiscover = false;
        $("div#profile-img-dropzone").dropzone({
            url: "/file/post",
            paramName: "image",
            acceptedFiles: "image/*",
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            }
        });
    </script>
    <script>
        // Form 5 - House image upload
        $("div#house-img-dropzone").dropzone({
            url: "{% url 'house:add_house_images' house_uuid=house.uuid %}",
            paramName: "image",
            acceptedFiles: "image/*",
            headers: {
                'X-CSRFToken': getCookie('csrftoken')
            }
        });

        $('a[id^="delete-image-"]').click(function (e) {
            e.preventDefault();
            var form_num = $(this).attr("id").split('-')[2];
            $('#thumbnail-container-' + form_num).hide();
            $('#id_images-form-' + form_num + '-DELETE').prop('checked', true);
        });

        $('a[id^="set-thumbnail-"]').click(function (e) {
            e.preventDefault();
            var form_num = $(this).attr("id").split('-')[2];
            $('#id_images-form-' + form_num + '-is_thumbnail').prop('checked', true);
            check_thumbnail_highlight(form_num);
            $('#thumbnail-container-' + form_num).addClass('highlight');

        });

    </script>
    <script>
        // Form 2 - Availability Form
        $('.delete-availability-btn-prev').on('click', function () {
            var id = this.id.split('-').pop();
            $('#availability-list-' + id).css("display", "none");
            $('#id_availability-form-' + id + '-DELETE').prop("checked", true);
        });


        var curr_availability_form = {{ availability_formset.initial_form_count }};
        var total_availability_form = {{ availability_formset.total_form_count }};
        var calendar_feedback = $('#calendar-invalid-feedback-manual');
        $('#add-dates').click(function () {
            calendar_feedback.text();
            var date_arr = pickmeup('#availability-calendar').get_date(true);
            var date_arr_cal = pickmeup('#availability-calendar').get_date(false);
            var date_arr_input = pickmeup('#availability-calendar').get_date('Y-m-d');
            if (date_arr.length > 0) {
                var time_diff = 2332800000; // 27 days in seconds
                if ((date_arr_cal[1].getTime() - date_arr_cal[0].getTime()) > time_diff) {

                    $("#availability-list-" + curr_availability_form).css("display", "block");
                    $('#availability-form-date-' + curr_availability_form).text(date_arr[0] + " to " + date_arr[1]);
                    $('#id_availability-form-' + curr_availability_form + '-dates_0').val(date_arr_input[0]);
                    $('#id_availability-form-' + curr_availability_form + '-dates_1').val(date_arr_input[1]);

                    curr_availability_form += 1;

                    if (curr_availability_form >= total_availability_form) {
                        $('#id_main-form-submit').prop('checked', true);
                        $('#id_main-form-exit').prop('checked', false);
                        $('#id_main-form-list_now').prop('checked', false);
                        window.removeEventListener("beforeunload", confirm_leave);
                        $('#main_form').submit();
                    }
                }
                else {
                    console.log("Error in dates");
                    calendar_feedback.text('Minimum length of stay allowed is more than or equal to 28 days.')
                }
            }
        });

        $('#clear-dates').click(function () {
            pickmeup('#availability-calendar').clear();
        });

        $('#add-all-dates').click(function () {
            let start = new Date();
            let end = new Date(new Date().getFullYear() + 1, start.getMonth(), start.getDate());
            pickmeup('#availability-calendar').set_date([start, end]);
            var date_arr = pickmeup('#availability-calendar').get_date(true);
            var date_arr_input = pickmeup('#availability-calendar').get_date('Y-m-d');

            calendar_feedback.text();

            $("#availability-list-" + curr_availability_form).css("display", "block");
            $('#availability-form-date-' + curr_availability_form).text("All Year Round");
            $('#id_availability-form-' + curr_availability_form + '-dates_0').val(date_arr_input[0]);
            $('#id_availability-form-' + curr_availability_form + '-dates_1').val(date_arr_input[1]);
            $('#id_availability-form-' + curr_availability_form + '-periodic').prop("checked", true);

            curr_availability_form += 1;

            if (curr_availability_form >= total_availability_form) {
                $('#id_main-form-submit').prop('checked', true);
                $('#id_main-form-exit').prop('checked', false);
                $('#id_main-form-list_now').prop('checked', false);
                window.removeEventListener("beforeunload", confirm_leave);
                $('#main_form').submit();
            }

            $('#add-dates').disable();

        });

    </script>
    <script>
        // Form 3
        function get_facilities_html(verbose, selected, num) {
            num = num || String.fromCharCode(facilities_temp_id);
            var checked = '';
            if (selected) {
                checked = 'checked';
            }
            var html = '<li class="list-inline-item">\n' +
                '            <div class="custom-control custom-checkbox" id="facility-checkbox-container-' + num + '">\n' +
                '                 <input type="checkbox" class="custom-control-input" id="facility-checkbox-' + num + '" ' + checked + '>\n' +
                '                  <label class="custom-control-label" for="facility-checkbox-' + num + '">' + verbose + '</label>\n' +
                '            </div>\n' +
                '       </li>';

            facilities_temp_id += 1;
            return [html, num]
        }

        var facilities_temp_id = 65;
        $(document).ready(function () {
            $.getJSON("{% url 'house:facility' house_uuid=house.uuid %}", function (data) {
                $(data).each(function () {
                    var element = get_facilities_html(this.verbose, this.checked, this.id);
                    $('#form-3 ul#facilities-list').append(element[0]);
                });
                $('#form-3 input.custom-control-input').bind('click', function () {
                    var data = [{
                        "id": parseInt(this.id.split('-')[2]),
                        "verbose": $('#form-3 label[for="' + this.id + '"]').text(),
                        "checked": $(this).prop("checked")
                    }];
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'house:facility' house_uuid=house.uuid %}",
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        dataType: 'json'
                    });
                })
            });
        });

        $('#form-3 button#add-facilities').click(function () {
            var other_f = $('#other-facility-text');
            if (other_f.val()) {
                var element = get_facilities_html(other_f.val(), true);
                $('#form-3 ul#facilities-list').append(element[0]);
                var data = [{
                    "verbose": other_f.val(),
                    "checked": true
                }];
                other_f.val('');
                other_f.focus();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'house:facility' house_uuid=house.uuid %}",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json'
                }).done(function () {
                    $('#form-3 input#facility-checkbox-' + element[1]).bind('click', function () {
                        var data = [{
                            "verbose": $('#form-3 label[for="' + this.id + '"]').text(),
                            "checked": $(this).prop("checked")
                        }];
                        console.log(data);
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'house:facility' house_uuid=house.uuid %}",
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            dataType: 'json'
                        });
                    })
                });
            }
        });

    </script>

    <script>
        // Form 4
        $('#form-4 .custom-radio-button').click(function () {
            var form_num = $(this).attr('id').split('-')[1];
            $('#id_houserule_set-' + form_num + '-value').val($(this).val());
        });

        $(document).ready(function () {
            $('#form-4 .list.rule').each(function () {
                var id = $(this).attr('id').split('-')[2];
                var choice_val = $('#id_houserule_set-' + id + '-value').val();
                $('#form-4 input[type=radio][id^="gridRadios-' + id + '"]').each(function () {
                    if (this.value === choice_val) {
                        $(this).prop('checked', true);
                    }
                });
            })
        })
    </script>

    <script>
        // Form 6
        $('#form-6 .custom-control-input').click(function () {
            var label = $('label[for="' + $(this).attr('id') + '"]');
            var value = label.text().replace(/ /g, '').replace('\n', '');
            $('#id_main-form-cancellation_policy > option').each(function () {
                var options_text = $(this).text().replace(/ /g, '').replace('\n', '');
                if (value === options_text) {
                    $(this).attr("selected", true);
                } else {
                    $(this).attr("selected", false);
                }
            });
            $('#form-6 .custom-control-input').not('#' + this.id).each(function () {
                    $(this).prop("checked", false)
                }
            )
        });

        $(document).ready(function () {
            var options_text = $('#id_main-form-cancellation_policy > option:selected').text().replace(/ /g, '').replace('\n', '');

            $('#form-6 .custom-control-input').each(function () {
                var value = $('label[for="' + $(this).attr('id') + '"]').text().replace(/ /g, '').replace('\n', '');
                if (value === options_text) {
                    $(this).prop("checked", true);
                } else {
                    $(this).prop("checked", false);
                }
            });

        })
    </script>

    <script>
        // Form 8
        function get_nearby_facilities_html(verbose, selected, num) {
            num = num || String.fromCharCode(nearby_facilities_temp_id);
            var checked = '';
            var active = '';
            if (selected) {
                checked = 'checked';
                active = 'active';
            }
            var html = '<label class="nearby-facility btn btn-link ' + active + '" id="nearby-facility-label-' + num + '">\n' +
                '                        <input type="checkbox" class="nearby-facility" id="nearby-facility-checkbox-' + num + '" autocomplete="off"\n' +
                '                            ' + checked + '>\n' +
                '                       ' + verbose + '\n' +
                '                    </label>';

            nearby_facilities_temp_id += 1;
            return [html, num]
        }

        var nearby_facilities_temp_id = 65;
        $(document).ready(function () {
            $.getJSON("{% url 'house:nearby_facility' house_uuid=house.uuid %}", function (data) {
                $(data).each(function () {
                    var element = get_nearby_facilities_html(this.verbose, this.checked, this.id);
                    $('#form-8 div#nearby-facilities-list').append(element[0]);
                });
                $('#form-8 label.nearby-facility').bind('click', function () {
                    var data = [{
                        "id": parseInt(this.id.split('-')[3]),
                        "verbose": $(this).text(),
                        "checked": !($(this).hasClass("active"))
                    }];
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'house:nearby_facility' house_uuid=house.uuid %}",
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        dataType: 'json'
                    });
                })
            });
        });

        $('#form-8 button#add-nearby-facilities').click(function () {
            var other_f = $('#other-nearby-facility-text');
            if (other_f.val()) {
                var element = get_nearby_facilities_html(other_f.val(), true);
                $('#form-8 div#nearby-facilities-list').append(element[0]);
                var data = [{
                    "verbose": other_f.val(),
                    "checked": true
                }];
                other_f.val('');
                other_f.focus();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'house:nearby_facility' house_uuid=house.uuid %}",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json'
                }).done(function (data) {
                    $('#form-8 label#nearby-facility-label-' + element[1]).bind('click', function () {
                        var data = [{
                            "verbose": $(this).text(),
                            "checked": !($(this).hasClass("active"))
                        }];
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'house:nearby_facility' house_uuid=house.uuid %}",
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            dataType: 'json'
                        });
                    })

                });
            }
        });
    </script>

    <script>
        //Form 9
        $('#add-profile-pic').click(function () {
            $('#id_profile-pic-form-profile_pic').click();
        });
        $("#id_profile-pic-form-profile_pic").change(function () {
            $('#picture-feedback').show();
        });
        $('#upload-new-profile-pic').click(function (e) {
            e.preventDefault();
            $('#id_profile-pic-form-profile_pic').click();
        });
        $('#delete-profile-pic').click(function (e) {
            e.preventDefault();
            $('#profile-pic-form-profile_pic-clear_id').prop("checked", true);
            $('#thumbnail-anchor').hide();
            $('#picture-feedback').show();
            $('#image-options').hide();
        });
    </script>

    <script>
        //Form 10
        function get_fun_tags_html(verbose, selected, num) {
            num = num || String.fromCharCode(nearby_facilities_temp_id);
            var checked = '';
            var active = '';
            if (selected) {
                checked = 'checked';
                active = 'active';
            }
            var html = '<label class="fun-tag btn btn-link ' + active + '" id="fun-tag-label-' + num + '">\n' +
                '                        <input type="checkbox" class="fun-tag" id="fun-tag-checkbox-' + num + '" autocomplete="off"\n' +
                '                            ' + checked + '>\n' +
                '                       #' + verbose + '\n' +
                '                    </label>';

            fun_tag_temp_id += 1;
            return [html, num]
        }

        var fun_tag_temp_id = 65;
        $(document).ready(function () {
            $.getJSON("{% url 'user:personality_tags' %}", function (data) {
                $(data).each(function () {
                    var element = get_fun_tags_html(this.verbose, this.checked, this.id);
                    $('#form-10 div#fun-tags-list').append(element[0]);
                });
                $('#form-10 label.fun-tag').bind('click', function () {
                    var data = [{
                        "id": parseInt(this.id.split('-')[3]),
                        "verbose": $(this).text(),
                        "checked": !($(this).hasClass("active"))
                    }];
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'user:personality_tags' %}",
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        dataType: 'json'
                    });
                })
            });
        });

        $('#form-10 button#add-more-tags').click(function () {
            var other_f = $('#add-more-fun-tags-text');
            if (other_f.val()) {
                var element = get_fun_tags_html(other_f.val(), true);
                $('#form-10 div#fun-tags-list').append(element[0]);
                var data = [{
                    "verbose": other_f.val(),
                    "checked": true
                }];
                other_f.val('');
                other_f.focus();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'user:personality_tags' %}",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json'
                }).done(function (data) {
                    $('#form-10 label#fun-tag-label-' + element[1]).bind('click', function () {
                        var data = [{
                            "verbose": $(this).text(),
                            "checked": !($(this).hasClass("active"))
                        }];
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'user:personality_tags' %}",
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            dataType: 'json'
                        });
                    })

                });
            }
        });
    </script>

    <script>
        //Form 11
        function get_welcome_tag_html(verbose, selected, num) {
            num = num || String.fromCharCode(facilities_temp_id);
            var checked = '';
            if (selected) {
                checked = 'checked';
            }
            var html = '<li class="list-inline-item">\n' +
                '            <div class="custom-control custom-checkbox" id="welcometag-checkbox-container-' + num + '">\n' +
                '                 <input type="checkbox" class="custom-control-input" id="welcometag-checkbox-' + num + '" ' + checked + '>\n' +
                '                  <label class="custom-control-label" for="welcometag-checkbox-' + num + '">' + verbose + '</label>\n' +
                '            </div>\n' +
                '       </li>';

            welcome_tag_temp_id += 1;
            return [html, num]
        }

        var welcome_tag_temp_id = 65;
        $(document).ready(function () {
            $.getJSON("{% url 'house:welcome_tags' house_uuid=house.uuid %}", function (data) {
                $(data).each(function () {
                    var element = get_welcome_tag_html(this.verbose, this.checked, this.id);
                    $('#form-11 ul#welcome-list').append(element[0]);
                });
                $('#form-11 input.custom-control-input').bind('click', function () {
                    var data = [{
                        "id": parseInt(this.id.split('-')[2]),
                        "verbose": $('#form-11 label[for="' + this.id + '"]').text(),
                        "checked": $(this).prop("checked")
                    }];
                    $.ajax({
                        type: 'POST',
                        url: "{% url 'house:welcome_tags' house_uuid=house.uuid %}",
                        data: JSON.stringify(data),
                        contentType: "application/json",
                        dataType: 'json'
                    });
                })
            });
        });

        $('#form-11 button#add-welcome-tags').click(function () {
            var other_f = $('#other-welcome-tag-text');
            if (other_f.val()) {
                var element = get_welcome_tag_html(other_f.val(), true);
                $('#form-11 ul#welcome-list').append(element[0]);
                var data = [{
                    "verbose": other_f.val(),
                    "checked": true
                }];
                other_f.val('');
                other_f.focus();

                $.ajax({
                    type: 'POST',
                    url: "{% url 'house:welcome_tags' house_uuid=house.uuid %}",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: 'json'
                }).done(function () {
                    $('#form-11 input#welcometag-checkbox-' + element[1]).bind('click', function () {
                        var data = [{
                            "verbose": $('#form-11 label[for="' + this.id + '"]').text(),
                            "checked": $(this).prop("checked")
                        }];
                        $.ajax({
                            type: 'POST',
                            url: "{% url 'house:welcome_tags' house_uuid=house.uuid %}",
                            data: JSON.stringify(data),
                            contentType: "application/json",
                            dataType: 'json'
                        });
                    })
                });
            }
        });


    </script>
{% endblock %}