{% extends 'property/create_edit/base.html' %}

{% load static %}

{% block additional_scripts %}
    <link href="{% static 'style/add-property.css' %}" rel="stylesheet" type="text/css">
    <script src="{% static 'script/add-property.js' %}"></script>
    <script src="https://js.stripe.com/v3/"></script>
    <script src="{% static 'script/home_owner/profile_save.js' %}"></script>
{% endblock %}

{% block content %}
    <!-- page form start -->
    <div class="payment page-form" id="payment-page">
        <div class="container-fluid">
            <div class="full-header">
                <div class="row">
                    <div id="full-header-1" class="col-md-4 text-center">
                        <a href="{% url 'house:create_edit' house_uuid=house.uuid %}#form-1"
                           class="nostyle form-change"><span class="number">1</span><span
                                class="text">Basic Home info</span></a>
                    </div>
                    <div id="full-header-2" class="col-md-4 text-center">
                        <a href="{% url 'house:create_edit' house_uuid=house.uuid %}#form-5"
                           class="nostyle form-change"><span class="number">2</span><span
                                class="text">Detail Description</span></a>
                    </div>
                    <div id="full-header-3" class="col-md-4 text-center">
                        <a href="{% url 'house:create_edit' house_uuid=house.uuid %}#form-9"
                           class="nostyle form-change"><span class="number">3</span><span
                                class="text">About you</span></a>
                    </div>
                </div>
                <div class="progress">
                    <div id="progress-bar" class="progress-bar bg-success"></div>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-1"></div>
                <div class="col-xl-10">
                    <div class="right">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="header">
                                    <div id="sub-header-1" class="row sub-header-row">
                                        <div class="col-md-3">
                                            <a href="{% url 'house:create_edit' house_uuid=house.uuid %}#form-1"
                                               class="nostyle form-change">
                                                <div id="sub-title-1" class="title">About the property</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="{% url 'house:create_edit' house_uuid=house.uuid %}#form-2"
                                               class="nostyle form-change">
                                                <div id="sub-title-2" class="title">Rent & Availability</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#form-3" class="nostyle form-change">
                                                <div id="sub-title-3" class="title">Facilities</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#form-4" class="nostyle form-change">
                                                <div id="sub-title-4" class="title">Rules</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="sub-header-2" class="row sub-header-row">
                                        <div class="col-md-3">
                                            <a href="#form-5" class="nostyle form-change">
                                                <div id="sub-title-5" class="title">Images</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#form-6" class="nostyle form-change">
                                                <div id="sub-title-6" class="title">Cancellation policy</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#form-7" class="nostyle form-change">
                                                <div id="sub-title-7" class="title">Tenant’s space access</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="#form-8" class="nostyle form-change">
                                                <div id="sub-title-8" class="title">The area</div>
                                            </a>
                                        </div>
                                    </div>
                                    <div id="sub-header-3" class="row sub-header-row">
                                        <div class="col-md-3">
                                            <a href="{% url 'house:create_edit' house_uuid=house.uuid %}#form-9"
                                               class="nostyle form-change">
                                                <div id="sub-title-9" class="title">Profile Photo</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="{% url 'house:create_edit' house_uuid=house.uuid %}#form-10"
                                               class="nostyle form-change">
                                                <div id="sub-title-10" class="title">Fun tags</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="{% url 'house:create_edit' house_uuid=house.uuid %}#form-11"
                                               class="nostyle form-change">
                                                <div id="sub-title-11" class="title">Welcome</div>
                                            </a>
                                        </div>
                                        <div class="col-md-3">
                                            <a href="{% url 'house:payment' house_uuid=house.uuid %}"
                                               class="nostyle form-change" id="payment-page-link">
                                                <div id="sub-title-12" class="title">Payout info</div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form class="my-form" method="POST" enctype="multipart/form-data" id="payment-form">
                            {% csrf_token %}
                            <input type="hidden" name="token" id="token">
                            <input type="hidden" name="bank_account_token" id="bank-account-token">


                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-1"></div>
                                    <div class="col-md-11">
                                        <h1 class="title">Your Bank Account Details and Identity Verification</h1>
                                    </div>
                                    <div class="col-md-auto col-lg-1 col-xl-1"></div>
                                    <div class="col-md-12 col-lg-6 col-xl-5">
                                        <div class="row">

                                            <div class="col-md-12">
{#                                                {% for error in user_profile_home_owner_form.errors %}#}
{#                                                    <div class="invalid-feedback">{{ error }}</div>#}
{#                                                {% endfor %}#}
{#                                                {% for error in home_owner_info_form.errors %}#}
{#                                                    <div class="invalid-feedback">{{ error }}</div>#}
{#                                                {% endfor %}#}
{#                                                {% for error in user_home_owner_form.errors %}#}
{#                                                    <div class="invalid-feedback">{{ error }}</div>#}
{#                                                {% endfor %}#}


                                            </div>

                                            <div class="col-md-12">
                                                <div class="input select no-background">
                                                    Account Type {{ home_owner_info_form.type }}
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6">
                                                <div class="input no-background">
                                                    {{ user_home_owner_form.first_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-12 col-lg-6">
                                                <div class="input no-background">
                                                    {{ user_home_owner_form.last_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input no-background">
                                                    {{ home_owner_info_form.business_name }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input no-background">
                                                    {{ home_owner_info_form.business_tax_id }}
                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input no-background">
                                                    {{ home_owner_info_form.country }}
                                                </div>
                                                {% if home_owner_info_form.country.errors %}
                                                    {% for error in home_owner_info_form.country.errors %}
                                                        <div class="invalid-feedback">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input no-background">
                                                    {{ user_profile_home_owner_form.dob }}
                                                </div>
                                                {% if home_owner_info_form.dob.errors %}
                                                    {% for error in home_owner_info_form.dob.errors %}
                                                        <div class="invalid-feedback">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                <div class="i">
                                                    <div class="input no-background">
                                                        {{ user_profile_home_owner_form.sex }}
                                                    </div>
                                                </div>
                                                {% if user_profile_home_owner_form.sex.errors %}
                                                    {% for error in user_profile_home_owner_form.sex.errors %}
                                                        <div class="invalid-feedback">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input  no-background">
                                                    {{ user_profile_home_owner_form.contact_num }}
                                                </div>
                                                {% if user_profile_home_owner_form.contact_num.errors %}
                                                    {% for error in user_profile_home_owner_form.contact_num.errors %}
                                                        <div class="invalid-feedback">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input no-background">
                                                    {{ home_owner_info_form.street_address1 }}
                                                </div>
                                                {% if home_owner_info_form.street_address1.errors %}
                                                    {% for error in home_owner_info_form.street_address1.errors %}
                                                        <div class="invalid-feedback">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input no-background">
                                                    {{ home_owner_info_form.city }}
                                                </div>
                                                {% if home_owner_info_form.city.errors %}
                                                    {% for error in home_owner_info_form.city.errors %}
                                                        <div class="invalid-feedback">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input no-background">
                                                    {{ home_owner_info_form.state }}
                                                </div>
                                                {% if home_owner_info_form.state.errors %}
                                                    {% for error in home_owner_info_form.state.errors %}
                                                        <div class="invalid-feedback">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>
                                            <div class="col-md-6">
                                                <div class="input no-background">
                                                    {{ home_owner_info_form.zip }}
                                                </div>
                                                {% if home_owner_info_form.zip.errors %}
                                                    {% for error in home_owner_info_form.zip.errors %}
                                                        <div class="invalid-feedback">{{ error }}</div>
                                                    {% endfor %}
                                                {% endif %}
                                            </div>

                                            <div class="col-md-12">
                                                <div class="input no-background">
                                                    <span>Identity Verification Document</span>
                                                    <input type="file" id="id-file" name="id-file"
                                                           accept=".jpeg,.jpg,.png">

                                                </div>
                                            </div>
                                            <div class="col-md-12">
                                                <div id="account-error-message" class="invalid-feedback"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-auto col-lg-1 col-xl-1"></div>
                                    <div class="col-md-12 col-lg-4 col-xl-5">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="input no-background">
                                                    <input type="text" class="inp-routing-number form-control"
                                                           name="routing_number"
                                                           placeholder="Routing Number">
                                                </div>
                                                <div id="bank-error-message" class="invalid-feedback"></div>
                                            </div>
                                            <div class="col-md-12">
                                                <div class="input no-background">
                                                    <input type="text" class="inp-account-number form-control"
                                                           name="account_number"
                                                           placeholder="Account Number">
                                                </div>
                                                <div id="bank-warning-message"
                                                     class="invalid-feedback">{{ bank_warning_message }}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top: 50px">
                                    <div class="col-md-12 text-right">
                                        <p>By clicking, you agree to <a
                                                href="{% url 'django.contrib.flatpages.views.flatpage' url="tos/" %}">our
                                            terms</a>
                                            and the <a href="https://stripe.com/au/connect-account/legal">Stripe
                                                Connected
                                                Account Agreement</a>.</p>
                                    </div>
                                    <div class="col-md-12">
                                        <div class="button top-margin">

                                            <button type="submit" class="btn btn-link" id="submit-and-exit">Save and
                                                Exit
                                            </button>
                                            <a type="submit" class="btn btn-link" id="next-step">List house</a>
                                            <button type="submit" class="btn btn-link" id="list-now">Empty
                                            </button>
                                            <a type="button"
                                               href="{% url 'house:create_edit'  house_uuid=house.uuid %}#form-11"
                                               class="btn btn-link" id="prev-step">Back</a>
                                        </div>
                                    </div>
                                </div>
                                {{ submit_options.submit }}
                                {{ submit_options.exit }}
                                {{ submit_options.list_now }}
                            </div>
                        </form>
                        <div class="col-md-1"></div>

                    </div>
                </div>
                <div class="col-xl-1"></div>
            </div>
        </div>
    </div>
    <!-- page form end -->
{% endblock %}

{% block footer %}
    {% include 'components/footer/auth.html' %}

{% endblock %}

{% block page_scripts %}

    <script>
        // Page user flow


        $('#submit-and-exit').click(function () {
            var main_form = $('#payment-form');
            $('#id_submit-options-submit').prop('checked', true);
            $('#id_submit-options-exit').prop('checked', true);
            $('#id_submit-options-list_now').prop('checked', false);
            main_form.submit();
        });

        $('#next-step').click(function () {
            var main_form = $('#payment-form');
            $('#id_submit-options-submit').prop('checked', false);
            $('#id_submit-options-exit').prop('checked', false);
            $('#id_submit-options-list_now').prop('checked', true);
            main_form.submit();
        });

        {% block override_next %}

        {% endblock %}


    </script>


    <div class="modal" id="wait-for-ajax"><!-- Place at bottom of page --></div>

{% endblock %}


