{% extends 'user/profile/base.html' %}

{% block profile-navbar-content %}
    <div class="col-md-12">
        <div class="header">
            <ul class="list-inline">
                <li class="list-inline-item"><a href="{% url 'user:user_details' %}" class="btn btn-link">My Detail</a></li>
                <li class="list-inline-item"><a href="{% url 'home_owner:account_details' %}" class="btn btn-link">Bank Information</a></li>
                <li class="list-inline-item"><a href="{% url 'account_change_password' %}" class="btn btn-link active">Change
                    Password</a>
                </li>
            </ul>
        </div>
    </div>
{% endblock profile-navbar-content %}

{% block profile-content %}
    <div class="col-md-12">
        <div class="text-center">
            <h1 class="title bottom-margin">Change your password</h1>
        </div>
        <form action="{% url 'account_change_password' %}" method="post">
            {% csrf_token %}
            <div class="row">
                <div class="col-md-auto col-lg-4 col-xl-4"></div>
                <div class="col-md-12 col-lg-4 col-xl-4">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="input no-background">
                                {{ form.oldpassword }}
                                {% if form.oldpassword.errors %}
                                    {% for error in form.oldpassword.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input no-background">
                                {{ form.password1 }}
                                {% if form.password1.errors %}
                                    {% for error in form.password1.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="input no-background">
                                {{ form.password2 }}
                                {% if form.password2.errors %}
                                    {% for error in form.password2.errors %}
                                        <div class="invalid-feedback">{{ error }}</div>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>
                        {% if form.non_field_errors %}
                            {% for error in form.non_field_errors %}
                                <div class="col-md-12 invalid-feedback text-center">
                                    {{ error }}
                                </div>
                            {% endfor %}
                        {% endif %}
                        <div class="col-md-12 text-right">
                            <div class="button top-margin">
                                <button type="submit" class="btn btn-link">Save</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-auto col-lg-4 col-xl-4"></div>
            </div>
        </form>
    </div>
{% endblock profile-content %}