{% extends 'base.html' %}

{% block navbar %}
    {% include 'components/navbar/anon.html' %}
{% endblock navbar %}

{% block content %}

    <div class="page-signup-login">
        <div class="container">
            <div class="row">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <h1>{% if token_fail %}Bad Token{% else %}Change Password{% endif %}</h1>
                    {% if token_fail %}
                        {% url 'account_reset_password' as passwd_reset_url %}
                        <p>The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.</p>
                    {% else %}
                        {% if form %}
                            <div class="form">
                                <form action="{{ action_url }}" method="post">
                                    {% csrf_token %}
                                    <div class="row">
                                        <div class="col-md-12">
                                            {{ form.password1 }}
                                            {% if form.password1.errors %}
                                            {% for error in form.password1.errors %}
                                            <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                        <div class="col-md-12">
                                            {{ form.password2 }}
                                            {% if form.password2.errors %}
                                            {% for error in form.password2.errors %}
                                            <div class="invalid-feedback" style="display: block;">{{ error }}</div>
                                            {% endfor %}
                                            {% endif %}
                                        </div>
                                        {% if form.non_field_errors %}
                                        {% for error in form.non_field_errors %}
                                        <div class="col-md-12 invalid-feedback" style="display: block; text-align: center;">
                                                {{ error }}
                                        </div>
                                        {% endfor %}
                                        {% endif %}

                                        <div class="col-md-3"></div>
                                        <div class="col-md-6">
                                            <button type="submit" class="btn btn-link btn-block">Set Password</button>
                                        </div>
                                        <div class="col-md-3"></div>
                                    </div>
                                </form>
                            </div>
                        {% else %}
                            <p>Your password is now changed.</p>
                        {% endif %}
                    {% endif %}
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>

{% endblock content %}