<div id="form-8">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="title">What is the neighhourhood like ?</h1>
            <div class="black-textarea">
                <div class="row">
                    <div class="col-md-9 col-lg-9 col-xl-6">
                        <div class="textarea">
                            {{ main_form.neighbourhood_description }}
                            <div class="example">
                                <p><strong>Examples</strong></p>
                                10 min walk to university<br>
                                5 min walk to bus stop or train station<br>
                                15 min walk to shipping centre<br>
                                Gym accesible in the apartment<br>
                                Only 50 min bus to central.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title">What's nearby?</h1>
            <div class="selection">
                <div class="btn-group btn-group-toggle" data-toggle="buttons" id="nearby-facilities-list">

                </div>
                <div class="row" style="margin-top: 50px">
                    <div class="col-md-6">
                        <div class="input big no-background">
                            <input type="text" class="form-control anything-else"
                                   id="other-nearby-facility-text"
                                   placeholder="Add other facilities">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button type="button" class="btn btn-link anything-else-add"
                                id="add-nearby-facilities">Add
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
