<div id="form-2">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="title">Rental details</h1>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="input number-disp no-background">
                        {{ main_form.rent.label }}
                        {{ main_form.rent }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.rent.help_text }}
                    </small>
                    {% if main_form.rent.errors %}
                        {% for error in main_form.rent.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-6"></div>
                <div class="col-md-12 col-lg-6">
                    <div class="input number-disp no-background">
                        {{ main_form.min_stay.label }}
                        {{ main_form.min_stay }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.min_stay.help_text }}
                    </small>
                    {% if main_form.min_stay.errors %}
                        {% for error in main_form.min_stay.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="input number-disp no-background">
                        {{ main_form.max_stay.label }}
                        {{ main_form.max_stay }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.max_stay.help_text }}
                    </small>
                    {% if main_form.max_stay.errors %}
                        {% for error in main_form.max_stay.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="input number-disp no-background">
                        {{ main_form.max_people_allowed.label }}
                        {{ main_form.max_people_allowed }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.max_people_allowed.help_text }}
                    </small>
                    {% if main_form.max_people_allowed.errors %}
                        {% for error in main_form.max_people_allowed.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <h1 class="title">Set your availability</h1>

            <div class="row">
                <div class="col-md-12 col-lg-8">
                    <div class="text-center">
                        <div class="calendar" id="availability-calendar"></div>
                        <div class="invalid-feedback"
                             id="calendar-invalid-feedback-manual"
                             style="padding: 10px"></div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-4">
                    <div class="row">
                        <div class="col-md-12" style="margin-top: 30px">
                            <button type="button" class="btn btn-link calendar-btns-black"
                                    id="add-all-dates">
                                Set to All year round
                            </button>
                        </div>
                        <div class="col-md-12" style="margin-top: 30px">
                            <button type="button" class="btn btn-link calendar-btns"
                                    id="add-dates">
                                Add
                                Selected Dates
                            </button>
                        </div>
                        <div class="col-md-12" style="margin-top: 30px">
                            <button type="button" class="btn btn-link calendar-btns"
                                    id="clear-dates">
                                Clear
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row" style="margin-top: 30px;">

                <h5 class="title">Selected Dates</h5>

                <ul class="list-group list-group-flush" style="width: 100%"
                    id="availability-dates-list">

                    {% for form in availability_formset %}
                        {% if forloop.counter0 < availability_formset.initial_form_count %}
                            <li class="list-group-item"
                                id="availability-list-{{ forloop.counter0 }}">
                                <div class="row">
                                    {{ form.id }}
                                    {{ form.dates }}
                                    {{ form.DELETE }}
                                    <div class="col-md-4">
                                        {% if form.periodic.value %}
                                            {{ form.initial.dates.lower|date:'d M' }}
                                            to {{ form.initial.dates.upper| date:'d M' }}, Every Year

                                        {% else %}
                                            {{ form.initial.dates.lower|date:'d M, Y' }}
                                            to {{ form.initial.dates.upper|date:'d M, Y' }}
                                        {% endif %}
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-control custom-checkbox">
                                            {{ form.periodic }}
                                            <label class="custom-control-label" for="{{ form.periodic.id_for_label }}">Periodic
                                                Yearly</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right">
                                            <button type="button"
                                                    class="btn btn-danger btn-sm delete-availability-btn-prev"
                                                    id="delete-availability-{{ forloop.counter0 }}">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% else %}
                            <li class="list-group-item"
                                id="availability-list-{{ forloop.counter0 }}" style="display: none">
                                <div class="row">
                                    {{ form.id }}
                                    {{ form.dates }}
                                    {{ form.DELETE }}
                                    <div class="col-md-4">
                                        <a id="availability-form-date-{{ forloop.counter0 }}">
                                        </a>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="custom-control custom-checkbox">
                                            {{ form.periodic }}
                                            <label class="custom-control-label" for="{{ form.periodic.id_for_label }}">Periodic
                                                Yearly</label>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="text-right">
                                            <button type="button"
                                                    class="btn btn-danger btn-sm delete-availability-btn-prev"
                                                    id="delete-availability-{{ forloop.counter0 }}">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>

            </div>


            <h1 class="title">Promo Code</h1>
            <p>Enter your Voucher or Discount code, if applicable.</p>
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="input no-background">
                        {{ main_form.promo_codes }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.promo_codes.help_text }}
                    </small>
                    <div id="promo-result"></div>
                    {% if main_form.promo_codes.errors %}
                        {% for error in main_form.rent.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-6">
                    <button type="button" class="btn btn-outline-primary btn-sm" id="verify-promo-code">
                        Verify
                    </button>
                </div>
            </div>


        </div>
        <div class="col-md-1"></div>
    </div>
</div>
