    <div id="form-10">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1 class="title">Select the hashtag that best describe you or your hobbies<i
                        data-toggle="popover"
                        data-content="The terant willl have to acklodedge these happy rules and special notes before  appying to your place">What
                    is this</i></h1>
                <div class="selection">
                    <h2>Please note: but highly recommend it if you are ahve sharing</h2>
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off"
                                   checked>
                            #Hilcav
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #Caffe addet
                        </label>
                        <label class="btn btn-link active">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #beanhumans
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #travel adcliect
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #foodie
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #doglover
                        </label>
                        <label class="btn btn-link active">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #Pound mum
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #Bigger
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #Bigger
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #Harrypotterfash
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #ANN
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #Internet
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            #nurse
                        </label>
                    </div>
                    <div class="add">
                        <div class="row">
                            <div class="col-md-10">
                                <input type="text" class="form-control" value="#">
                            </div>
                            <div class="col-md-2">
                                <button type="button" class="btn btn-link btn-block">Add
                                </button>
                            </div>
                        </div>
                    </div>
                    <p>You may add up to 10 hashtags</p>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
