    <div id="form-11">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1 class="title">Select the group you welcome to your home</h1>
                <div class="row">
                    <div class="col-md-11">
                        <div class="checkbox">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-1"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-1">Pets
                                                    owner</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-3"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-3">Students</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-5"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-5">Smoker</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-8"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-8">40+</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-10"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-10">Retiree</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-4">
                                    <ul class="list-inline">
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-2"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-2">Parant
                                                    with
                                                    children</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-4"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-4">Backpacker</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-6"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-6">Welfore welcome</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-9"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-9">Famele
                                                    Only</label>
                                            </div>
                                        </li>
                                        <li class="list-inline-item">
                                            <div class="custom-control custom-checkbox">
                                                <input type="checkbox" id="checkbox-11"
                                                       class="custom-control-input">
                                                <label class="custom-control-label"
                                                       for="checkbox-11">LGBT+
                                                    friendy</label>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
