{% load static %}
<div id="form-12">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="payment">
                <h1 class="title">Complete your profile information</h1>
                <div class="row">
                    <div class="col-md-12 col-lg-12 col-xl-6">
                        <div class="page-form-payment-left">
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="input no-background top-margin">
                                        <input type="text" class="form-control"
                                               placeholder="First name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Last name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Email Address">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Contact Number">
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="select">
                                        DOB
                                        <select class="form-control">
                                            <option>01.01.1986</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-6 col-lg-6">
                                    <div class="select">
                                        Gender
                                        <select class="form-control select-gender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <p><span>Please Note:</span> We wil not disclose your
                                        contact
                                        detail actail until the booking is confirmed.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-12 col-xl-6">
                        <div class="page-form-payment-right">
                            <div class="row">
                                <div class="col-md-12">
                                    <button type="button" class="btn btn-link payment">Add
                                        (or
                                        change)
                                        payment method
                                    </button>
                                </div>
                                <div class="col-md-4 align-self-end">
                                    <div class="label">Filter</div>
                                </div>
                                <div class="col-md-8 text-right">
                                    <ul class="list-inline">
                                        <li class="list-inline-item active">
                                            <img src="{% static 'image/form-1/amex.png' %}"
                                                 alt=""
                                                 title="">
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="{% static 'image/form-1/visa.png' %}"
                                                 alt=""
                                                 title="">
                                        </li>
                                        <li class="list-inline-item">
                                            <img src="{% static 'image/form-1/master-card.png' %}"
                                                 alt=""
                                                 title="">
                                        </li>
                                    </ul>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Name Surname">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Card Number">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Expiry Date">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="i">
                                        <div class="input no-background">
                                            <input type="text" class="form-control"
                                                   placeholder="CCV">
                                            <i data-toggle="popover"
                                               data-content="The terant willl have to acklodedge these happy rules and special notes before  appying to your place"></i>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="First name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Last name">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Postal code">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Country">
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-link add-card">Add
                                        Card
                                    </button>
                                    <button type="button" class="btn btn-link cancel">Cancel
                                    </button>
                                </div>
                                <div class="col-md-12">
                                    <strong>Or</strong>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Bsb">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Acc No">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Acc Name">
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="input no-background">
                                        <input type="text" class="form-control"
                                               placeholder="Bank">
                                    </div>
                                </div>
                                <div class="col-md-12 text-right">
                                    <button type="button" class="btn btn-link save">Save
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
