    <div id="form-8">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <h1 class="title">What is the neighhourhood like ?</h1>
                <div class="black-textarea">
                    <div class="checkbox auto-width">
                        <ul class="list-inline">
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="checkbox-20"
                                           class="custom-control-input">
                                    <label class="custom-control-label"
                                           for="checkbox-20">YES</label>
                                </div>
                            </li>
                            <li class="list-inline-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" id="checkbox-21"
                                           class="custom-control-input">
                                    <label class="custom-control-label"
                                           for="checkbox-21">NO</label>
                                </div>
                            </li>
                        </ul>
                        <p>if yes, what are they like ?</p>
                        <div class="row">
                            <div class="col-md-9 col-lg-9 col-xl-6">
                                <div class="textarea">
                                                        <textarea class="form-control" rows="8"
                                                                  placeholder="."></textarea>
                                    <div class="example">
                                        <p><strong>Examples</strong></p>
                                        10 min walk to university<br>
                                        5 min walk to bus stop or train station<br>
                                        15 min walk to shipping centre<br>
                                        Gym accesible in the apartment<br>
                                        Only 50 min bus to central.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <h1 class="title">Are there any argen restriction for the tenant ?</h1>
                <div class="selection">
                    <div class="btn-group btn-group-toggle" data-toggle="buttons">
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off"
                                   checked>
                            Tennis court
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            Football field
                        </label>
                        <label class="btn btn-link active">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            Movie theater
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            walking area
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            Tennis court
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            Tennis court
                        </label>
                        <label class="btn btn-link active">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            Basketball court
                        </label>
                        <label class="btn btn-link">
                            <input type="checkbox" name="selection[]" autocomplete="off">
                            Bowling alley
                        </label>
                    </div>
                </div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
