<div id="form-7">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="title">Are there other proble living in the house ?</h1>
            <div class="black-textarea">
                <p>If Yes, What are they like ?</p>
                <div class="row">
                    <div class="col-md-9 col-lg-9 col-xl-6">
                        <div class="textarea">
                            {{ main_form.other_people_description }}
                            <div class="example">
                                <p><strong>Examples</strong></p>
                                Who are they , what are they like ?<br>
                                How old are they , are they a student , marking ?<br>
                                are they quiet ? Extrovert
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <h1 class="title">What are the tenant's access to the space?</h1>
            <div class="black-textarea">
                <div class="row">
                    <div class="col-md-9 col-lg-9 col-xl-6">
                        <div class="textarea">
                            {{ main_form.access_restrictions }}
                            <div class="example">
                                <p><strong>Examples</strong></p>
                                No access uphairs.<br>
                                No access to the garden outside.<br>
                                Cannot enter the grany fint<br>
                                Only your desinated toilet will be accessible.<br>
                                No access to form animal without permission
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
