<div id="form-6">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="title">Which cancellation Policy you like?</h1>
            {{ main_form.cancellation_policy }}
{# FIXME: Bad coding - form is disjoint from changes in the backend. CHANGE ASAP #}
            <div class="paragraph">
                <div class="checkbox auto-width">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-CP-FP" class="custom-control-input">
                                <label class="custom-control-label black" for="checkbox-CP-FP">Flexible
                                    Policy</label>
                            </div>
                        </li>
                    </ul>
                </div>

                <p>Full refund of the deposit (excluding our Service Fee) for cancellation received at least two days prior to the check-in date. After this time, the Tenant will only be entitled to a 50% refund (excluding our Service Fee).</p>
                <div class="checkbox auto-width">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-CP-MP"
                                       class="custom-control-input">
                                <label class="custom-control-label black" for="checkbox-CP-MP">Moderate
                                    Policy</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <p>Full refund of the deposit (excluding our Service Fee) for cancellation received at least one week prior to the check-in date. After this time, the Tenant will only be entitled to a 50% refund (excluding our Service Fee).</p>
                <div class="checkbox auto-width">
                    <ul class="list-inline">
                        <li class="list-inline-item">
                            <div class="custom-control custom-checkbox">
                                <input type="checkbox" id="checkbox-CP-SP"
                                       class="custom-control-input">
                                <label class="custom-control-label black" for="checkbox-CP-SP">Strict
                                    Policy</label>
                            </div>
                        </li>
                    </ul>
                </div>
                <p>The tenant is not allowed to cancel the booking 24 hours after the booking is approved by the homeowner. After this time, the Tenant will only be entitled to a 50% refund (excluding our Service Fee).</p>

            </div>
            <div class="col-md-1"></div>
            <div class="col-md-12" style="margin-top: 50px">

                <p><b>Please note: The tenant is allowed to cancel the booking without penalty within 24 hours of the
                    booking being approved by the homeowner. (As required by legislation)</b></p>
            </div>
        </div>
    </div>
</div>