<div id="form-4">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="title">What are you house rules ?</h1>
            <div class="big-list">
                {% for form in rule_formset %}
                    <div class="list rule" id="rule-container-{{ forloop.counter0 }}">
                        <h2>{{ form.instance.rule.verbose }}</h2>
                        <div class="row">
                            <div class="col-md-12 col-lg-12 col-xl-5">
                                <div class="checkbox auto-width">
                                    <ul class="list-inline">
                                        {{ form.value }}
                                        {{ form.id }}
                                        <fieldset class="form-group" id="radio-group-{{ forloop.counter0 }}">
                                            {% for choice in form.instance.rule.options %}
                                                <li class="list-inline-item checkbox-container-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}">
                                                    <div class="custom-control">
                                                        <div class="form-check" style="padding-left: 0">
                                                            <input class="form-check-input custom-radio-button"
                                                                   type="radio"
                                                                   name="radio-group-{{ forloop.parentloop.counter0 }}"
                                                                   id="gridRadios-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}"
                                                                   value="{{ choice }}">
                                                            <label class="form-check-label"
                                                                   for="gridRadios-{{ forloop.parentloop.counter0 }}-{{ forloop.counter0 }}">
                                                                {{ choice }}          </label>
                                                        </div>
                                                    </div>
                                                </li>
                                            {% endfor %}
                                        </fieldset>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-12 col-lg-12 col-xl-7">
                                <div class="input no-background style-gray">
                                    {{ form.comment }}
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="green-textarea">
                <h2>Is there anything else your guest need to beware of in you house ? </h2>
                <div class="row">
                    <div class="col-md-9 col-lg-9 col-xl-6">
                        <div class="textarea">
                            {{ main_form.other_rules }}
                            <div class="example">
                                <p><strong>Examples</strong></p>
                                Noise level<br>
                                Stairs<br>
                                What are the share space ?<br>
                                Animals living on the premise ?<br>
                                Off limit area ?<br>
                                Eating area /limits ?<br>
                                No Shoes in the house ?<br>
                            </div>
                        </div>
                    </div>
                </div>
                <p>Please Note: these house rules will be accepted by the guest before they
                    book
                    your
                    accommodation.</p>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
