<div id="form-1">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <h1 class="title">What home are you listing ?</h1>
            <div class="row">
                <div class="col-md-12">
                    <div class="input">
                        {{ main_form.title }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.title.help_text }}
                    </small>
                    {% if main_form.title.errors %}
                        {% for error in main_form.title.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="input address-hidden">
                        {{ main_form.address_hidden }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.address_hidden.help_text }}
                    </small>
                    {% if main_form.address_hidden.errors %}
                        {% for error in main_form.address_hidden.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-6">
                    <div class="input">
                        {{ main_form.address }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.address.help_text }}
                    </small>
                    {% if main_form.address.errors %}
                        {% for error in main_form.address.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12">
                    <div class="input select address">
                        {{ main_form.location }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.location.help_text }}
                    </small>
                    {% if main_form.location.errors %}
                        {% for error in main_form.location.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="input number-disp bedroom">
                        {{ main_form.bedrooms.label }}
                        {{ main_form.bedrooms }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.bedrooms.help_text }}
                    </small>
                    {% if main_form.bedrooms.errors %}
                        {% for error in main_form.bedrooms.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="input number-disp bathroom">
                        {{ main_form.bathrooms.label }}
                        {{ main_form.bathrooms }}
                        <small class="form-text text-muted">
                            {{ main_form.bathrooms.help_text }}
                        </small>
                        {% if main_form.bathrooms.errors %}
                            {% for error in main_form.bedrooms.errors %}
                                <div class="invalid-feedback">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="input number-disp parking">
                        {{ main_form.parking.label }}
                        {{ main_form.parking }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.parking.help_text }}
                    </small>
                    {% if main_form.parking.errors %}
                        {% for error in main_form.bedrooms.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="col-md-12 col-lg-6">
                    <div class="select type">
                        Home Type
                        {{ main_form.home_type }}
                    </div>
                    <small class="form-text text-muted">
                        {{ main_form.home_type.help_text }}
                    </small>
                    {% if main_form.home_type.errors %}
                        {% for error in main_form.home_type.errors %}
                            <div class="invalid-feedback">{{ error }}</div>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
