{% extends 'utils/base_user_auto.html' %}

{% block head_title_add %}
    Things you should know before moving to Australia |

{% endblock %}

{% block keyword_meta_main %}
    <meta name="keywords"
          content="Australia migration, Temporary accommodation, temporary rental, short term rental, rental australia, migrating to australia, Australia migration, moving to australia, renting in australia"/>
{% endblock keyword_meta_main %}


{% block in-container-content %}
    <br>
    <h1><b>Things you should know before moving to Australia</b></h1>
    <br>

    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            <img src="/static/img/blogs/arch-aus-1200x.jpg" style="width: inherit;">
        </div>
    </div>

    <br>
    <p align="justify">
        If you're planning to move to Australia permanently and need a place to stay, here are some things you need to know before moving.
    </p>
    <br>
    <h2>
        Buying a Home takes months
    </h2>
    <p align="justify">
        If you're looking to buy a new home in Australia, these things can take up to 3 months. Finding the right home, the right price, the right home loan and so on can take a while. After that, when it comes to purchasing your dream home and carrying out due diligence, this can take up to a month or two.
    </p>
    <br>
    <h2>
        Finding a home to rent
    </h2>
    <p align="justify">
        If you've never rented before in Australia, finding a home to rent would be a real challenge. In Australia applying for a 12-month lease can take up to 2 months.
    </p>
    <br>
    <h2>
        Before buying or renting, consider finding and booking a temporary home rental
    </h2>
    <p align="justify">
        <a href="/">Here</a> at Rentality, you can find and book temporary home rentals immediately.
    </p>
{% endblock %}