{% extends 'utils/base_user_auto.html' %}

{% block head_title_add %}
    Vacancy Tax |

{% endblock %}

{% block keyword_meta_main %}
    <meta name="keywords"
          content="real estate, rentals, vacancy tax, tax, house tax, empty house, vacant house, empty home"/>
{% endblock keyword_meta_main %}


{% block in-container-content %}
    <br>
    <h1><b>What is Vacancy Tax? How does the Vacancy Tax affect me? How can I avoid paying the Vacancy Tax?</b></h1>
    <br>

    <div class="row">
        <div class="col-md-9 col-md-offset-2">
            <img src="/static/img/blogs/2-story-architecture-building-1030555-min.jpg" style="width: inherit;">
        </div>
    </div>

    <br>
    <p align="justify">
        Across Australia, millions of people are experiencing overcrowded homes and unaffordable rent. The 2016 Census
        has revealed over a million dwellings (11.2% of housing) are unoccupied. In response to this, the government
        introduced a ‘Vacancy Tax/Fee’ as a solution to shift vacant homes into the rental market.
    </p>
    <h2>
        Australia-wide Vacancy Fee
    </h2>
    <p align="justify">
        On November 2017, the first vacancy fee was introduced across Australia. The law applies to all foreign persons
        who own Australian residential property that is neither occupied nor rented out for at least 183 days in a year.
        This includes:
    </p>
    <ul>

        <li>
            Individuals who are not resident in Australia
        </li>
        <li>
            Companies that are controlled by individuals who are foreign persons
        </li>
        <li>
            Trusts that are controlled by individuals who are foreign persons.
        </li>
    </ul>
    <p align="justify">
        The Vacancy Fee is the amount equivalent to the foreign investment application fee submitted to the FIRB for its
        approval to purchase the property.
    </p>

    <h2>
        Melbourne’s Vacancy Tax
    </h2>
    <p align="justify">On January 2018, Melbourne introduced a vacancy tax (1%) affecting homes in inner and middle
        Melbourne that were
        vacant for more than six months. In addition to the vacancy tax, Melbourne also imposed an absentee owner
        surcharge
        and land tax on vacant homes (1.65%).
        Potential liability for a homeowner in inner and middle Melbourne is up to 2.65% of their property’s value per
        annum.
    </p>
    <h2>
        ACT’s Vacancy Tax
    </h2>
    <p align="justify">Previously vacant homes in the ACT were exempt from the ACT Land Tax. However, starting from July
        2018, the ACT
        Government had removed this exemption, introducing an indirect vacancy tax to every ACT homeowner with homes
        that
        are not occupied or rented out.
        Every homeowner with a vacant home in the ACT would now be charged 1% of their property’s unimproved value per
        annum.
    </p>
    <h2>Sydney’s Short-Term Restrictions
    </h2>
    <p align="justify">Sydney has not imposed any vacancy tax as of yet. However, on August 2018, a law was passed to
        restrict homes
        located in the Greater Sydney Region to a minimum occupancy of 180 days a year. It was announced that homeowners
        that fail to rent out their homes would face hefty fines up to $220,000.
    </p>
    <h2>
        Queensland’s Vacancy Tax Proposal
    </h2>
    <p align="justify">The Queensland’s Greens Party are advocating for a vacancy tax, imposing 5% tax on properties
        left vacant for
        more
        than 6 months.
    </p>
    <h2>
        How to avoid paying the vacancy tax/fee?
    </h2>
    <p align="justify">
        On Rentality, we help facilitate medium-term accommodation (2 weeks to 9 months) arrangements between homeowners
        and
        tenants. In order to be exempt from the vacancy tax, you need to rent out (whether aggregate or not) 6 months
        within
        a year (excl Sydney Restrictions). If your property cannot be rented out, we will provide you with a certificate
        to
        prove that you have attempted to rent but received no interest at the end of the financial year.
    </p>
    <p>
        Rentality is in its beta stage and would be officially launching soon. If you are interested in using Rentality
        to avoid paying the vacancy tax, register <a href="/">here</a>.
    </p>
{% endblock %}