#root > .page-form .right .input .form-control:focus {
    box-shadow: 0 6px 12px -7px #3fc692 !important;
    border-bottom: 1px solid #3fc692;
}

#root > .page-form .right h1.title {
    font-size: 20px;
    font-weight: 700;
    color: #000000;
    margin-top: 50px;
    margin-bottom: 50px;
}

#root > .page-form .right h1.title i {
    background-image: url('/static/image/popover.svg');
    background-repeat: no-repeat;
    background-position: center right;
    margin-left: 30px;
    width: 16px;
    height: 16px;
    cursor: alias;
    font-style: unset;
    margin-bottom: -4px;
    font-size: 13px;
    font-weight: 400;
    color: #8f8f8f;
    padding-right: 26px;
}


#root > .page-form .right .input .form-control {
    font-size: 15px;
    font-weight: 400;
    padding-left: 50px;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #c7cdd9;
    border-radius: 0;
    height: calc(2.25rem + 15px);
    background-repeat: no-repeat;
    background-position: 5px center;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
}


#root > .page-form .right .input.big .form-control {
    font-size: 20px;
    font-weight: 400;
}

#root > .page-form .right .input.style-gray .form-control {
    background-color: #e9e9ea61 !important;
    height: calc(2.25rem + 34px) !important;
    padding-left: 60px !important;
    padding-right: 20px !important;
    border-bottom: 0 !important;
    border-radius: 5px !important;
}

#root > .page-form .right .input .form-control:hover,
#root > .page-form .right .input .form-control:focus {
    box-shadow: none;
}

#root > .page-form .right .input .form-control::placeholder {
    opacity: 1;
    color: #676767;
}

#root > .page-form .right .input.no-background .form-control {
    padding-left: 10px;
    background: none;
}

#root > .page-form .right .input.no-background.number-disp {
    padding-left: 10px;
    background: none;
}

#root > .page-form .right .input .address.form-control {
    background-image: url('/static/image/form-1/address.svg');
}

#root > .page-form .right .input .title.form-control {
    background-image: url('/static/image/form-1/title.svg');
}

#root > .page-form .right .input .address-hidden.form-control {
    background-image: url('/static/image/form-1/key.svg');
}

#root > .page-form .right .input.bathroom.number-disp {
    background-image: url('/static/image/form-1/bathroom.svg');
}

#root > .page-form .right .input.bedroom.number-disp {
    background-image: url('/static/image/form-1/bedroom.svg');
}

#root > .page-form .right .input.parking.number-disp {
    background-image: url('/static/image/form-1/parking.svg');
}

a.default-button-style, button.default-button-style {
    font-size: 16px;
    border-radius: 99px;
    transition: all .25s ease-in-out;
    font-weight: 400;
    color: #2a2b32;
    background-color: transparent;
    padding: 12px 50px;
    cursor:pointer;
    border: 1px solid #2a2b32;
}

a.default-button-style:hover, a.default-button-style:focus,
button.default-button-style:hover,  button.default-button-style:focus {
    text-decoration: none;
    background-color: #2a2b32;
    color: #ffffff !important;
}
