<!-- footer start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="list">
                    <ul class="list-unstyled">
                        <li><a href="/contact-us/">Contact Us</a></li>
                        <li><a href="/">Rent a Home</a></li>
                        <li><a href="/listing/create/">List Home</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="list">
                    <ul class="list-unstyled">
                        <li><a href="/terms-of-service/">Terms of Service</a></li>
                        <li><a href="/privacy-policy/">Privacy Policy</a></li>
                        <li><a href="/faq/">FAQs</a></li>
                        <li><a href="/cookie-policy/">Cookies</a></li>
                        <li><a href="/blog/">Blog</a></li>
                        <li><a href="/about-us/">About Us</a>
                        </li>
                        <li><a href="/contact-us/" %}">Help</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class=" col-md-12 col-lg-10">
                        <div class="social-media">
                            <ul class="list-inline">
                                <li class="list-inline-item facebook"><a
                                        href="https://www.facebook.com/Rentality/"><span>Facebook</span></a></li>
                                {#                                <li class="list-inline-item instagram"><a href=""><span>Instagram</span></a>#}
                                {#                                </li>#}
                                {#                                <li class="list-inline-item twitter"><a href=""><span>Twitter</span></a></li>#}
                                <li class="list-inline-item linkedin"><a
                                        href="https://www.linkedin.com/company/rentality/"><span>Linkedin</span></a>
                                </li>
                            </ul>
                        </div>
                        {% block newsletter_sub %}
                        {% if not request.user.is_authenticated %}
                        {% include 'components/footer/newsletter_subscription/anon.html' %}
                        {% endif %}
                        {% endblock newsletter_sub %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->