{% extends 'utils/base_auth.html' %}

{% block in-container-content %}

    <div class="row">


        <!-- BEGIN MAIN CONTENT -->
        <div class="main col-sm-8 col-md-9">
            <div class="center">
                <div class="tellusaboutyourproperty">

                    {% block listing-form-body %}

                    {% endblock %}

                </div>
            </div>
        </div>
        <!-- END MAIN CONTENT -->
        <!-- BEGIN SIDEBAR -->
        <div class="sidebar gray col-sm-4 col-md-3 hidden-xs">
            <!--             <div class= "sidenav">
             -->
            <div id="footer-top">
                <div class="block">
                    <h3>List my Property</h3>
                    <ul class="footer-links">
                        <li class="active"><a href="{% url 'tenant:edit' 1 house.uuid %}">Tell us about your
                            property</a>
                        </li>
                        <li><a href="{% url 'tenant:edit' 2 house.uuid %}">More Details</a></li>
{#                        FIXME: Photos url; should it be on a seperate page?#}
{#                        <li><a href="{% url 'house:add' 3 %}">Photos </a></li>#}

                        <li><a href="{% url 'tenant:edit' 3 house.uuid %}">Property Owner Details</a>
                        </li>
                        {#                        <li><a href="{% url 'house:add' 1 %}">All Done!</a></li>#}
                    </ul>
                </div>
                <!--  </div> -->
            </div>

        </div>
        <!-- END SIDEBAR -->

    </div>


{% endblock %}