{% extends 'house/add_house/base.html' %}
{% load static %}

{% block head_extra_scripts %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ form.media }}
{% endblock %}

{% block listing-form-body %}
    <h1 class="property-title">Tell us about your property</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    <div style="color: #42a597">Address</div>

                    {{ form.address.errors }}
                    {{ form.address }}
                    {{ form.location.errors }}
                    {{ form.location }}
                    {{ form.room_type.label }}
                    {{ form.room_type.errors }}
                    {{ form.room_type }}
                    {{ form.other_room_type.errors }}
                    {{ form.other_room_type }}
                    {{ form.bedrooms.errors }}
                    {{ form.bedrooms }}
                    {{ form.bathrooms.errors }}
                    {{ form.bathrooms }}
                    {{ form.parking.errors }}
                    {{ form.parking }}

                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <label>Upload images of your property</label>
                    {{ formset.as_table }}
                    {#                    {{ formset.non_form_errors }}#}
                    {#                    <div class="row">#}
                    {#                        {% for f in formset.forms %}#}
                    {#                            {{ f.as_table }}#}
                    {#                            {{ f.non_field_errors }}#}
                    {#                            <div class=".image-orig-input" style="display: none">#}
                    {#                            {{ f.image }}#}

                    {#                            </div>#}
                    {#                            {{ f.image.errors }}#}
                    {#                            <div class="col-sm-4">#}
                    {#                                <div class="card" style="#}
                    {#                                position: relative; text-align: center; color: white;">#}
                    {#                                    <a href="" id="{{ f.image.auto_id }}" class="proxy-image-formset-image"><img#}
                    {#                                            id="{{ f.image.auto_id }}" class="card-img-top"#}
                    {#                                            src="{% if f.instance.image %}#}
                    {#                                                    {{ f.instance.image.url }}#}
                    {#                                                {% else %}#}
                    {#                                                    /static/img/placeholders/apartment/default.png#}
                    {#                                                {% endif %}"#}
                    {#                                            height="100" width="auto" alt="Card image cap">#}
                    {#                                        <div id="{{ f.image.auto_id }}" style="color: white;position: absolute;#}
                    {#    top: 50%;#}
                    {#    left: 50%;#}
                    {#    transform: translate(-50%, -50%);"><b>Click to Add</b></div>#}
                    {#                                    </a>#}
                    {#                                </div>#}
                    {#                            </div>#}
                    {#                        {% endfor %}#}
                    {#                    </div>#}
                    {#                    <br>#}
                    <span>Save to add more images</span>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="clearfix">
            <p class="pull-right clearfix">
                <span class="text-muted"></span>
                <input type="submit" class="btn btn-fullcolor" value="Save" name="save">
                <input type="submit" class="btn btn-default-color" value="Save & Next" name="savetonext">
            </p>
        </div>
    </form>

{% endblock %}

{% block js_script %}

    <script>
        // hide location input
        $(document).ready(function (event) {
            $('#id_detail_form_1_location_chzn').hide()

        })
    </script>

    <script>
        // Other room type input hide/show

        $("#id_room_type").change(function () {

            if ($("#id_room_type :selected").text() === 'Other' || $("#id_room_type :selected").text() === 'other') {

                $('#id_other_room_type').prop('type', 'text');
            } else {
                $('#id_other_room_type').prop('type', 'hidden');
            }
        });


    </script>

    <script>
        // Image upload handling

        $('.proxy-image-formset-image').click(function (event) {
            event.preventDefault();
            var inp_el = $('input#' + this.id);
            inp_el.trigger('click');
        });

        $('.image-formset-image').change(function (event) {
                var output = $('img#' + this.id);
                output.attr('src', URL.createObjectURL(event.target.files[0]));
                {#$('div#'+this.id).html('<a id="'+this.id+'" class="remove-tag" style="color: white;">Remove</a>');#}
            }
        );
    </script>

{% endblock %}

