{% extends 'house/add_house/base.html' %}

{% block listing-form-body %}
    <h1 class="property-title">Tell us about your property</h1>
    <form action="" method="POST" id="main-form">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    {{ form.non_field_errors }}
                    {% csrf_token %}
                    {{ form.address.errors }}
                    {{ form.address }}
                    {{ form.location.errors }}
                    {{ form.location }}
                    <datalist id="json-datalist"></datalist>
                    {{ form.room_type.label }}
                    {{ form.room_type.errors }}
                    {{ form.room_type }}
                    {{ form.other_room_type.errors }}
                    {{ form.other_room_type }}
                    {{ form.bedrooms.errors }}
                    {{ form.bedrooms }}
                    {{ form.bathrooms.errors }}
                    {{ form.bathrooms }}
                    {{ form.parking.errors }}
                    {{ form.parking }}

                </div>
            </div>
        </div>


        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">
                    <label>Upload images of your property</label>
                    {{ formset.management_form }}
                    {% csrf_token %}
                    <div class="row">
                        {% for f in formset.forms %}
                            <div style="display: none">
                                {{ f.image }}
                            </div>
                            <div class="col-sm-4">
                                <div class="card" style="
                                position: relative; text-align: center; color: white;">
                                    <a href="" id="{{ f.image.auto_id }}" class="proxy-image-formset-image"><img
                                            id="{{ f.image.auto_id }}" class="card-img-top"
                                            src="/static/img/placeholders/apartment/default.png"
                                            height="100" width="auto" alt="Card image cap">
                                        <div id="{{ f.image.auto_id }}" style="color: white;position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);"><b>Click to Add</b></div>
                                    </a>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <br>
                    <span>Save to add more images</span>
                </div>
            </div>
        </div>
        <p>&nbsp;</p>
        <div class="clearfix">
            <p class="pull-right clearfix">
                <span class="text-muted">You have unsaved changes.</span>
                <button type="submit" class="btn btn-default-color">Save Changes</button>
            </p>
        </div>
    </form>
    <hr/>
    <p>&nbsp;</p>
    <div class="clearfix">
        <p class="pull-right clearfix">
            <a href="" class="btn btn-default-color">Next</a>
        </p>
    </div>
{% endblock %}

{% block js_script %}

    <script>
        //setup before functions
        var typingTimer;                //timer identifier
        var doneTypingInterval = 500;  //time in ms (5 seconds)

        //on keyup, start the countdown
        $('#location').keyup(function () {
            clearTimeout(typingTimer);
            if ($('#location').val()) {
                typingTimer = setTimeout(doneTyping, doneTypingInterval);
            }
        });

        //user is "finished typing," do something
        function doneTyping() {
            var val = $('#location').val();
            var dataList = document.getElementById('json-datalist');
            var option = document.createElement('option');
            // Set the value using the item in the JSON array.
            option.value = 'Suburb';
            // Add the <option> element to the <datalist>.
            dataList.appendChild(option);


        }

    </script>

    <script>
        // Other room type input hide/show

        $("#id_room_type").change(function () {

            if ($("#id_room_type :selected").text() === 'Other' || $("#id_room_type :selected").text() === 'other') {

                $('#id_other_room_type').prop('type', 'text');
            } else {
                $('#id_other_room_type').prop('type', 'hidden');
            }
        });


    </script>
    <script>
        // Image upload handling

        $('.proxy-image-formset-image').click(function (event) {
            event.preventDefault();
            var inp_el = $('input#' + this.id);
            inp_el.trigger('click');
        });

        $('.image-formset-image').change(function (event) {
                var output = $('img#' + this.id);
                console.log(event);
                output.attr('src', URL.createObjectURL(event.target.files[0]));
                {#$('div#'+this.id).html('<a id="'+this.id+'" class="remove-tag" style="color: white;">Remove</a>');#}
            }
        );

        {#$('.remove-tag').click(function (event) {#}
        {#    event.preventDefault();#}
        {#    var inp_el = $('input#' + this.id);#}
        {#    inp_el.val('');#}
        {#    output.attr('src', 'jn');#}

    </script>

{% endblock %}

