.container {
    position: relative;
}

.input {
    background-image: url(images/form-1/address.svg);
    width: 100%;
    font-size: 15px;
    padding: 0.375rem 0px 0.375rem 50px;
    border-top: none;
    border-right: none;
    border-bottom: 1px solid rgb(199, 205, 217);
    border-left: none;
    border-image: initial;
    border-radius: 0px;
    height: calc(2.25rem + 15px);
    background-repeat: no-repeat;
    background-position: left center;
    display: block;
    line-height: 1.5px;
    color: rgb(73, 80, 87);
    background-color: rgb(255, 255, 255);
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

.inputFocused {
    outline: none;
    box-shadow: 0 6px 12px -7px #3fc692 !important;
    border-bottom: 1px solid #3fc692;
}

.inputOpen {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.suggestionsContainer {
    display: none;
}

.suggestionsContainerOpen {
    display: block;
    position: absolute;
    width: 70vw;
    top: 100%;
    margin-left: 40px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 4px;
    box-shadow: 0 0 0 1px hsla(0, 0%, 0%, 0.1), 0 4px 11px hsla(0, 0%, 0%, 0.1);
    margin-bottom: 8px;
    margin-top: 8px;
    z-index: 1;
    font-size: 15px;
    color: #676767;
    box-sizing: border-box;
}

.suggestionsList {
    margin: 0;
    list-style-type: none;
    max-height: 300px;
    overflow-y: auto;
    padding-bottom: 4px;
    padding-top: 4px;
    position: relative;
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    padding-left: 0;
}

.suggestion {
    background-color: transparent;
    color: inherit;
    cursor: default;
    display: block;
    font-size: inherit;
    padding: 8px 12px;
    width: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    box-sizing: border-box;
}

.suggestionHighlighted {
    background-color: #2684ff;
    color: white;
}
