.pageMapFilter {
    background-color: #e8e8e9;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1;
}

.formControl {
    font-size: 13px;
    font-weight: 400;
    width: 100%;
    padding-right: 0;
    border: none;
    border-bottom: 1px solid #c7cdd9;
    border-radius: 0;
    height: calc(2.25rem + 10px);
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: left center;
    padding-left: 30px;
    border-bottom: 1px solid #c3c3c5;
    color: #2a2b32;
}

.formControl:hover,
.formControl:focus {
    box-shadow: none;
}

.formControl::placeholder {
    opacity: 1;
    color: #2a2b32;
}

.formControl.search {
    background-image: url("/static/image/page-map/filter/search.svg");
}

.formControl.date {
    background-image: url("/static/image/page-map/filter/date.svg");
}

.formControl.type {
    background-image: url("/static/image/page-map/filter/type.svg");
}

.formControl.amount {
    background-image: url("/static/image/page-map/filter/amount.svg");
}

.fixedHeight {
    height: 100%;
}

.pageMapFilter .btn {
    font-size: 14px;
    font-weight: 500;
    color: #2a2b32;
    background-color: #fafafa;
    border-radius: 99px;
    padding: 10px 0;
}

.pageMapFilter .btn:hover {
    color: #2a2b32;
    background-color: #36ffb1;
}

.pageMapFilter .btn:hover,
.pageMapFilter .btn:focus {
    text-decoration: none;
}
