{% extends 'utils/base_user_auto.html' %}

{% block in-container-content %}
    <div class="content">
        <div class="">
            <div class="row">

                <!-- BEGIN MAIN CONTENT -->
                <div class="col-sm-12">

                    <!-- BEGIN PROPERTY DETAIL SLIDERS WRAPPER -->
                    <div id="property-detail-wrapper" class="style1">

                        <!-- BEGIN PROPERTY DETAIL LARGE IMAGE SLIDER -->
                        <div id="property-detail-large" class="owl-carousel">
                            <div class="item">
                                <img src="/static/img/placeholders/apartment/apt1.jpeg" alt=""/>
                            </div>
                            <div class="item">
                                <img src="/static/img/placeholders/apartment/apt2.jpeg" alt=""/>
                            </div>
                            <div class="item">
                                <img src="/static/img/placeholders/apartment/apt3.jpeg" alt=""/>
                            </div>
                        </div>
                        <!-- END PROPERTY DETAIL LARGE IMAGE SLIDER -->

                        <!-- BEGIN PROPERTY DETAIL THUMBNAILS SLIDER -->
                        <div style="display: none !important;">
                            <div id="property-detail-thumbs" class="owl-carousel">
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                                <div class="item"><img src="http://placehold.it/148x131" alt=""/></div>
                            </div>
                        </div>
                        <!-- END PROPERTY DETAIL THUMBNAILS SLIDER -->

                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="main content" style="padding-top: 0;">
        <div class="container">
            <div class="row">

                <!-- BEGIN MAIN CONTENT -->
                <div class="col-sm-12">
                    <div id="notifications">

                    </div>
                    {#                    <div class="pull-right">#}
                    {#                        <a class="btn btn-fullcolor"#}
                    {#                           href="">Edit</a>#}
                    {#                    </div>#}
                    <h1 class="property-title">Address
                        <small>address_line2</small>
                    </h1>
                </div>
                <div class="col-sm-8">

                    <div class="property-topinfo">
                        <ul class="amenities">
                            <li><i class="icon-bedrooms"></i> bedrooms</li>
                            <li><i class="icon-bathrooms"></i> bathrooms</li>
                            <li><i class="icon-garage"></i>listing.parking</li>
                        </ul>
                    </div>

                    <hr/>

                    <p class="property-detail-key-detail">Date Available: Message for details</p>

                    <p class="property-detail-key-detail">Length of Stay: Message for details</p>

                    <p class="property-detail-key-detail">Rent: $480/week</p>


                    <!-- BEGIN PROPERTY AMENITIES LIST -->
                    <ul class="property-amenities-list col-md-4">
                        <li class="enabled"> Wifi: Yes</li>
                        <li class="enabled"> Parking: Yes</li>

                        <li class="enabled"> Furnished: Yes</li>
                    </ul>
                    <!-- END PROPERTY AMENITIES LIST -->

                    <h2 class="section-title">Description</h2>

                    <p>Cras lobortis, diam et ultricies imperdiet, urna urna pharetra est, vitae euismod lectus
                        dolor nec sapien. Morbi consectetur ut metus quis elementum. Sed condimentum dui at nulla
                        aliquet condimentum. Nullam vitae odio a nibh scelerisque condimentum et consequat
                        sapien.</p>
                    <p><br/>Nullam non lectus non mauris viverra convallis ac vitae nunc. Class aptent taciti
                        sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla congue neque
                        et elit vulputate, nec convallis massa rutrum. Proin vel metus sit amet dolor molestie
                        sagittis. In lacinia rhoncus pulvinar. Maecenas vitae sem nec mi suscipit malesuada a quis
                        ligula. Phasellus varius fermentum tortor, sit amet molestie elit faucibus sed.</p>
                    <p><br/>Cras euismod tincidunt risus, vel accumsan lacus aliquet vitae. Morbi in dignissim
                        libero. Cras sed scelerisque est. Praesent eget ultricies lectus, vestibulum auctor sem.
                        Vestibulum ultrices risus euismod commodo interdum. </p>

                    <h2 class="section-title">Additional Rules</h2>

                    <p>&nbsp;</p>

                    {#                    <h2 class="section-title">Welcome</h2>#}
                    {#                    <!-- BEGIN PROPERTY FEATURES LIST -->#}
                    {#                    <ul class="property-features col-sm-6">#}
                    {#                        <li><i class="fa fa-check-circle fa-fw"></i> Some tag</li>#}
                    {#                    </ul>#}
                    {##}
                    {#                    <ul class="property-features col-sm-6">#}
                    {#                        <li><i class="fa fa-check-circle fa-fw"></i>  Some tag</li>#}
                    {#                    </ul>#}
                    <!-- END PROPERTY FEATURES LIST -->

                </div>
                <!-- END MAIN CONTENT -->


                <!-- BEGIN SIDEBAR -->
                <div class="col-sm-4">

                    <!-- BEGIN ADVANCED SEARCH -->
                    <div class="property-agent-info">
                        <div class="agent-detail col-md-12">
                            <div class="image">

                                <img alt="" src="http://placehold.it/307x307"/>
                            </div>

                            <div class="info">
                                <header style="border-bottom: none; margin-bottom: 0; padding-bottom: 0;">
                                    <h2>Owner name
                                        <small>Verified Email</small>
                                    </h2>
                                </header>
                            </div>
                        </div>
                        <form class="form-style col-md-12" method="POST"
                              action="">
                            {#                            {{ send_application_form.csrf_token }}#}

                            <div class="row">
                                <div class="col-sm-12">
                                    <textarea name="message" placeholder="Message"
                                              class="form-control required"></textarea>
                                </div>

                                <div class="center">
                                    <button type="submit" class="btn btn-fullcolor">Send Message</button>
                                </div>
                            </div>
                        </form>

                    </div>
                    <!-- PROPERTY MAP HOLDER -->
                    <div style="display: none;" id="property_location" class="map col-sm-12"></div>
                    <!-- END ADVANCED SEARCH -->

                </div>
                <!-- END SIDEBAR -->

            </div>
        </div>
    </div>
    <!-- END CONTENT WRAPPER -->

{% endblock %}

{% block extra-content %}
    <div>
        <iframe
                width="100%"
                height="600px"
                frameborder="0" style="border:0"
                src="https://www.google.com/maps/embed/v1/place?key=AIzaSyClsJFzjgJBxhY3D4HDn4V_EG9Y5FYqdqQ
    &q=Space+Needle,Seattle+WA" allowfullscreen>
        </iframe>

    </div>

{% endblock %}