{% extends 'base.html' %}

{% block header-nav %}
    {% include 'utils/navbar/auth_user.html' %}

{% endblock %}

{% block in-container-content %}
    <div class="main col-sm-8 col-md-9">


        <!-- BEGIN ADVANCED SEARCH -->
        <h1 class="property-title">Add your details
            <small class="pull-right clearfix">Page 1 of 3</small>
        </h1>
        <form action="" method="post">
            <div class="form-group">
                <div class="row">
                    <div class="col-sm-12">
                        {% csrf_token %}
                        {{ form.non_field_errors }}
                        {{ form.contact_num.errors }}
                        {{ form.contact_num }}
                        {{ form.sex.errors }}
                        {{ form.sex }}
                        {{ form.dob.errors }}
                        {{ form.dob }}

                    </div>
                </div>
            </div>

            <p>&nbsp;</p>
            <div class="clearfix">
                <p class="pull-right clearfix">
                    <button type="submit" class="btn btn-default-color">Save Section</button>
                    <a href="{% url 'user:home_page' %}">
                        <button type="button" class="btn">I'll finish this later</button>
                    </a>
                </p>
            </div>
        </form>
    </div>
{% endblock %}