{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block head_title_add %}
    Host Dashboard |
{% endblock %}

{% block content %}
    <!-- page dashboard start -->
    <div class="page-dashboard">
        <div class="container">
            <h1>Host Dashboard</h1>
            <div class="row">
                <div class="col-md-12 col-lg-12 col-xl-8">
                    {% if upcoming_stay %}
                        <h2>Upcoming Stay</h2>
                        <div class="board">
                            {#                        <div class="text-center">Nothing to show</div>#}
                            {#                        <div class="row">#}
                            {#                            <div class="col-md-3">#}
                            {#                                <div class="image">#}
                            {#                                    <img src="static/image/page-dashboard/1.png" class="w-100" alt="" title="">#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="col-md-9">#}
                            {#                                <div class="row">#}
                            {#                                    <div class="col-md-7">#}
                            {#                                        <div class="date">#}
                            {#                                            <div class="row">#}
                            {#                                                <div class="col-6">#}
                            {#                                                    <span>Move in</span>#}
                            {#                                                    Oct 22 2018#}
                            {#                                                </div>#}
                            {#                                                <div class="col-6">#}
                            {#                                                    <span>Move out</span>#}
                            {#                                                    Now. 16 2018#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-md-5">#}
                            {#                                        <div class="amount">#}
                            {#                                            $860 AUD#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <div class="row">#}
                            {#                                    <div class="col-md-8">#}
                            {#                                        <h1>La Salentina, sea, nature & relax</h1>#}
                            {#                                        <h2>Capital Territory, Australia Love Street No 322 </h2>#}
                            {#                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
                            {#                                            tempor#}
                            {#                                            incididunt ut labore et dolore magna aliqua.</p>#}
                            {#                                        <div class="confirm">#}
                            {#                                            <button class="btn btn-link">Confirmed</button>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-md-4">#}
                            {#                                        <ul class="list-unstyled">#}
                            {#                                            <li><a href="">View invoice</a></li>#}
                            {#                                            <li><a href="">Message Host</a></li>#}
                            {#                                            <li><a href="">View guest's itinerary</a></li>#}
                            {#                                            <li><a href="">Change/Cancel reservation</a></li>#}
                            {#                                            <li><a href="">View house rule</a></li>#}
                            {#                                        </ul>#}
                            {#                                        <div class="detail">#}
                            {#                                            <button class="btn btn-link">Detail</button>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                        </div>#}
                        </div>
                    {% endif %}
                    {% if pending_applications %}
                        <h2>Pending Application </h2>
                        <div class="board">
                            {#                        <div class="row">#}
                            {#                            <div class="col-md-3">#}
                            {#                                <div class="profile">#}
                            {#                                    <img src="static/image/page-dashboard/profile.png" class="rounded-circle" alt=""#}
                            {#                                         title="">#}
                            {#                                    <h2>Miranda Kerr </h2>#}
                            {#                                    <div class="star 5x"></div>#}
                            {#                                    <a href="" class="btn btn-link">See Profile</a>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                            <div class="col-md-9">#}
                            {#                                <div class="row">#}
                            {#                                    <div class="col-md-7">#}
                            {#                                        <div class="date">#}
                            {#                                            <div class="row">#}
                            {#                                                <div class="col-6">#}
                            {#                                                    <span>Move in</span>#}
                            {#                                                    Oct 22 2018#}
                            {#                                                </div>#}
                            {#                                                <div class="col-6">#}
                            {#                                                    <span>Move out</span>#}
                            {#                                                    Now. 16 2018#}
                            {#                                                </div>#}
                            {#                                            </div>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                    <div class="col-md-5">#}
                            {#                                        <div class="amount">#}
                            {#                                            $860 AUD#}
                            {#                                            <p>#}
                            {#                                                $200 x 4 weeks = $800 AUD#}
                            {#                                                2% fee $20 AUD#}
                            {#                                            </p>#}
                            {#                                        </div>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                                <div>#}
                            {#                                    <h1>La Salentina, sea, nature & relax</h1>#}
                            {#                                    <h2>Capital Territory, Australia Love Street No 322 </h2>#}
                            {#                                    <h3>Tenant Message</h3>#}
                            {#                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod#}
                            {#                                        tempor#}
                            {#                                        incididunt ut labore et dolore magna aliqua.</p>#}
                            {#                                    <div class="button">#}
                            {#                                        <button class="btn btn-link">Accept</button>#}
                            {#                                        <button class="btn btn-link">Decline</button>#}
                            {#                                    </div>#}
                            {#                                </div>#}
                            {#                            </div>#}
                            {#                        </div>#}
                        </div>
                    {% endif %}

                    <h2>My Property</h2>
                    <div class="property">
                        <div class="row">
                            {% static "image/placeholders/property/home-page-large.png" as default_property_large %}
                            {% for house in houses %}
                                <div class="col-md-6">
                                    <div class="tool">
                                        <ul class="list-inline">
                                            <li class="list-inline-item edit"><a
                                                    href="{% url 'house:create_edit' house_uuid=house.uuid %}">Edit</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <a data-toggle="modal"
                                       data-target="#property-action-popup-{{ forloop.counter }}" class="list">
                                        <div class="image">
                                            <img src="{{ house.get_thumbnail|thumbnail_url:'house_dashboard_large'|default:default_property_large }}"
                                                 class="w-100" alt="" title="">
                                        </div>
                                        <h1>{{ house.title|title }}</h1>
                                        <h2>{{ house.get_location|default_if_none:"No Location is set" }}</h2>
                                    </a>
                                </div>
                                <div id="property-action-popup-{{ forloop.counter }}"
                                     class="dashboard-modal modal fade">
                                    <div class="modal-dialog modal-lg modal-dialog-centered">
                                        <div class="modal-content">
                                            <div class="text-right">
                                                <button type="button" class="close" data-dismiss="modal"
                                                        aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="text-center">
                                                <img src="{{ house.get_thumbnail|thumbnail_url:'house_dashboard_large'|default:default_property_large }}"
                                                     alt="" title="">
                                                <h1>{{ house.title|title }} <span
                                                        class="badge badge-info">{{ house.get_status_display }}</span>
                                                </h1>
                                                <div class="text-center">
                                                    <p>
                                                        <b>{{ house.get_location|default_if_none:"No location is set" }}</b>
                                                    </p>
                                                </div>
                                                <div class="button property-actions">
                                                    {% if not house.is_public %}
                                                        <button type="button"
                                                                onclick="location.href='{% url 'house:create_edit' house.uuid %}';"
                                                                class="btn btn-link">List
                                                        </button>
                                                        <button type="button"
                                                                onclick="location.href='{% url 'house:create_edit' house.uuid %}';"
                                                                class="btn btn-link">Edit
                                                        </button>
                                                        <button type="button"
                                                                onclick="location.href='{% url 'house:delete_object' house.uuid %}';"
                                                                class="btn btn-link">Delete
                                                        </button>
                                                    {% else %}
                                                        <button type="button"
                                                                onclick="location.href='{% url 'house:create_edit' house.uuid %}';"
                                                                class="btn btn-link">Edit
                                                        </button>
                                                        <button type="button"
                                                                onclick="location.href='{% url 'house:delete_object' house.uuid %}';"
                                                                class="btn btn-link">Delete
                                                        </button>
                                                        <button type="button"
                                                                onclick="location.href='{% url 'house:remove_public' house.uuid %}';"
                                                                class="btn btn-link">Unlist
                                                        </button>
                                                    {% endif %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            {% endfor %}

                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-4">
                    <div class="right">
                        <div class="calendar"></div>
                        <div class="history">
                            <h1>Transaction History</h1>
                            <div class="dropdown">
                                <button type="button" class="btn btn-primaru dropdown-toggle"
                                        data-toggle="dropdown">
                                    Property
                                </button>
                                <div class="dropdown-menu">
                                    <a href="#" class="dropdown-item">Pending</a>
                                    <a href="#" class="dropdown-item">Paid</a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-link">From</button>
                            <button type="button" class="btn btn-link">To</button>
                            <button type="button" class="btn btn-link active">All</button>
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td>Date</td>
                                        <td>Status</td>
                                        <td>Detail</td>
                                        <td>Debit</td>
                                        <td>Credit</td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td colspan="5" class="text-center">Nothing to show</td>
                                    </tr>
                                    {#                                    <tr>#}
                                    {#                                        <td class="black">10.02.18</td>#}
                                    {#                                        <td class="black">Pending</td>#}
                                    {#                                        <td>Capital Territory,#}
                                    {#                                            Australia Love#}
                                    {#                                            Street No 322#}
                                    {#                                            Now.16.18#}
                                    {#                                            Now.22.18#}
                                    {#                                        </td>#}
                                    {#                                        <td class="black">$400 AUD</td>#}
                                    {#                                        <td class="black">$400 AUD</td>#}
                                    {#                                    </tr>#}
                                    {#                                    <tr>#}
                                    {#                                        <td class="black">10.02.18</td>#}
                                    {#                                        <td class="black">Paid</td>#}
                                    {#                                        <td>Capital Territory,#}
                                    {#                                            Australia Love#}
                                    {#                                            Street No 322#}
                                    {#                                            Now.16.18#}
                                    {#                                            Now.22.18#}
                                    {#                                        </td>#}
                                    {#                                        <td class="black">$400 AUD</td>#}
                                    {#                                        <td class="black">$400 AUD</td>#}
                                    {#                                    </tr>#}
                                    {#                                    <tr>#}
                                    {#                                        <td class="black">10.02.18</td>#}
                                    {#                                        <td class="black">Paid</td>#}
                                    {#                                        <td>Capital Territory,#}
                                    {#                                            Australia Love#}
                                    {#                                            Street No 322#}
                                    {#                                            Now.16.18#}
                                    {#                                            Now.22.18#}
                                    {#                                        </td>#}
                                    {#                                        <td class="black">$400 AUD</td>#}
                                    {#                                        <td class="black">$400 AUD</td>#}
                                    {#                                    </tr>#}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page dashboard end -->

{% endblock %}