<!-- footer start -->
<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-6 col-md-3">
                <div class="list">
                    <ul class="list-unstyled">
                        <li><a href="">Order and Returns</a></li>
                        <li><a href="">Contact Us</a></li>
                        <li><a href="">Advanced Search</a></li>
                        <li><a href="">Rent Home</a></li>
                        <li><a href="">Request Home</a></li>
                        <li><a href="">Furnish apartments</a></li>
                        <li><a href="">Order and Returns</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-6 col-md-3">
                <div class="list">
                    <ul class="list-unstyled">
                        <li><a href="">Terms of Use</a></li>
                        <li><a href=""> Privacy Policy</a></li>
                        <li><a href="">FAQs</a></li>
                        <li><a href="">Cookies</a></li>
                        <li><a href="">Blog</a></li>
                        <li><a href="">About</a></li>
                        <li><a href="">Help</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-lg-2"></div>
                    <div class=" col-md-12 col-lg-10">
                        <div class="social-media">
                            <ul class="list-inline">
                                <li class="list-inline-item facebook"><a href=""><span>Facebook</span></a></li>
                                <li class="list-inline-item instagram"><a href=""><span>Instagram</span></a>
                                </li>
                                <li class="list-inline-item twitter"><a href=""><span>Twitter</span></a></li>
                                <li class="list-inline-item linkedin"><a href=""><span>Linkedin</span></a></li>
                            </ul>
                        </div>
                        {% block newsletter_sub %}
                            {% if not request.user.is_authenticated %}
                                {% include 'components/footer/newsletter_subscription/anon.html' %}
                            {% endif %}
                        {% endblock newsletter_sub %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- footer end -->