<section id="home-search-section">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12" data-animation-direction="from-top" data-animation-delay="50">

                <h2 class="slider-title">Rentality</h2>
                <div class="slider-subtitle">Short to Mid-Term Rental Platform Connecting Global Residents</div>
            </div>

            <div id="home-search-buttons" class="col-sm-6 col-sm-offset-3" data-animation-direction="from-bottom"
                 data-animation-delay="250">
                <button class="btn btn-default active" id="home_search_properties">Properties</button>
                <button class="btn btn-default" id="home_search_tenants">Tenants</button>

                <form action="" method="GET" id="home_search_form">
                    <div class="input-group">
                        <input type="text" placeholder="City, State, Postcode, etc..." name="query" id="home_search"
                               class="form-control"/>
                        <span class="input-group-btn">
						<button class="btn btn-default" type="submit"><i class="fa fa-search"></i>Search</button>
					</span>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>