.footer {
    padding-top: 56px;
    padding-bottom: 116px;
    background-color: #2a2b32;
}

.footer .list ul li a {
    font-size: 14px;
    color: #ffffff;
    font-weight: 400;
    transition: all 0.25s ease-in-out;
}

.footer .list ul li a:hover,
.footer .list ul li a:focus {
    text-decoration: none;
}

.footer .list ul li a:hover {
    color: #36ffb1;
}

.footer .socialMedia {
    margin-top: 22px;
    margin-bottom: 80px;
    text-align: right;
}

.footer .socialMedia ul li a {
    width: 35px;
    height: 34px;
    display: block;
    background-repeat: no-repeat;
    background-position: left top;
    transition: all 0.25s ease-in-out;
    border-radius: 99px;
}

.footer .socialMedia ul li a span {
    display: none;
}

.footer .socialMedia ul li.facebook a {
    background-image: url("/static/image/footer/facebook.svg");
}

.footer .socialMedia ul li.facebook a:hover {
    background-color: #3b5998;
}

.footer .socialMedia ul li.instagram a {
    background-image: url("/static/image/footer/instagram.svg");
}

.footer .socialMedia ul li.instagram a:hover {
    background-color: #cd486b;
}

.footer .socialMedia ul li.twitter a {
    background-image: url("/static/image/footer/twitter.svg");
}

.footer .socialMedia ul li.twitter a:hover {
    background-color: #1dcaff;
}

.footer .socialMedia ul li.linkedin a {
    background-image: url("/static/image/footer/linkedin.svg");
}

.footer .socialMedia ul li.linkedin a:hover {
    background-color: #0077b5;
}

.footer .socialMedia ul li:not(:last-child) {
    margin-right: 10px;
}

.footer .eMail .title {
    color: #ffffff;
    font-size: 20px;
    font-weight: 400;
    text-align: right;
    margin-bottom: 20px;
}

.footer .eMail .detail {
    border: 1px solid #ffffff;
    padding: 6px;
    border-radius: 99px;
}

.footer .eMail .detail .form-control {
    border: none;
    border-radius: 99px;
    font-size: 18px;
    font-weight: 400;
    background-color: transparent;
    color: #ffffff;
    height: calc(2.25rem + 27px);
    padding-left: 23px;
}

.footer .eMail .detail .form-control:hover,
.footer .eMail .detail .form-control:focus {
    box-shadow: none;
}

.footer .eMail .detail .form-control::placeholder {
    opacity: 1;
    color: #ffffff;
}

.footer .eMail .detail .btn {
    font-size: 15px;
    font-weight: 700;
    color: #2a2b32;
    background-color: #36ffb1;
    border-radius: 99px;
    border: none;
    padding-top: 20px;
    padding-bottom: 20px;
    transition: all 0.25s ease-in-out;
}

.footer .eMail .detail .btn:hover,
.footer .eMail .detail .btn:focus {
    text-decoration: none;
}

.footer .eMail .detail .btn:hover {
    background-color: #ffffff;
}
