<!DOCTYPE html>
<html>
<head>
    {% block head_title %}
        <title>Rentality - Connecting Global Residents with Medium Term Rentals</title>{% endblock head_title %}
    {% block head_scripts %}
        {% include 'utils/style.html' %}

    {% endblock head_scripts %}

    <meta charset="utf-8"/>

    {#    FIXME - Change meta #}
    <meta name="keywords" content="real estate, responsive, retina ready, modern html5 template, bootstrap, css3"/>
    <meta name="description" content="Short to Mid-Term Rental Platform Connecting Global Residents"/>
    <meta name="author" content="Rentality"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>
</head>
<body>

{% block body %}
    <div id="wrapper">

        {% block header-nav %}
            {% include 'utils/navbar/anon_user.html' %}
        {% endblock header-nav %}



        {% block content %}
            <div class="content">
                <div class="container">

                    {% block notification %}
                        {% if messages %}
                            <ul class="messages">
                                {% for message in messages %}
                                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                                {% endfor %}
                            </ul>
                        {% endif %}

                    {% endblock %}
                    {% block in-container-content %}

                    {% endblock %}
                </div>
            </div>
        {% endblock content %}

        {% block extra-content %}
        {% endblock extra-content %}

        {% block footer %}
            <footer id='footer'>

                <!-- BEGIN COPYRIGHT -->
                <div id="copyright">
                    <div class="container">
                        <div class="row">
                            <div class="col-sm-12 text-center">
                                {% block footer-additional-content %}

                                {% endblock %}
                                &copy; 2018 Rentality. All rights reserved.
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END COPYRIGHT -->

            </footer>
        {% endblock footer %}
    </div>

{% endblock body %}

{% block extra_body %}
{% endblock extra_body %}


{% if not request.session.django_timezone %}
    {% include 'utils/timezone.html' %}
{% endif %}


{% block base_scripts %}
    <script src="/static/theme/js/common.js"></script>
    <script src="/static/theme/js/jquery.prettyPhoto.js"></script>
    <script src="/static/theme/js/owl.carousel.min.js"></script>
    <script src="/static/theme/js/chosen.jquery.min.js"></script>
    <!-- <script src="/static/theme/js/infobox.min.js"></script> -->

    <!-- Template Scripts -->
    <script src="/static/theme/js/variables.js"></script>
    <script src="/static/theme/js/scripts.js"></script>

    <!-- Agencies list -->
    <script src="/static/theme/js/agencies.js"></script>

{% endblock %}

{% block js_script %}
{% endblock js_script %}

</body>
</html>