#root > .page-form .right .black-textarea .textarea textarea.form-control {
    border: 1px solid #56ffbd;
    resize: none;
    background-color: transparent;
    position: relative;
    font-size: 15px;
    font-weight: 400;
    color: #2a2b32;
    padding: 20px;
}

#root > .page-form .right .black-textarea .textarea textarea.form-control:focus {
    box-shadow: 0 0 7px -1px #3fc692 !important;
}