{% extends 'utils/navbar/base.html' %}

{% block user_menu %}

    <li class="dropdown">
        <a href="#" data-toggle="dropdown" data-hover="dropdown">
            <span class="fa fa-fw fa-plus" aria-hidden="true"></span>
            <span style="
                  position: absolute;
                  top: 32px;
                  left: 0;
                  font-size: 14px;
                  right: 0;
                  text-align: center;">Add me</span>

            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'tenant:add' %}"><span class="fa fa-fw fa-paper-plane"></span> Tenancy</a></li>
            <li><a href="{% url 'house:add' %}"><span class="fa fa-fw fa-home"></span> My Property</a></li>
        </ul>
    </li>


    <li>
        <a href="{% url 'user:view_shortlist' %}">
            <span class="fa fa-fw fa-star-o"></span>
            <span style="
      position: absolute;
      top: 32px;
      left: 0;
      font-size: 14px;
      right: 0;
      text-align: center;
  ">Shortlist</span>
        </a>
    </li>



    {#    <li>#}
    {#        <a href="http://localhost:8000/ess/notifications">#}
    {#            <span class="fa fa-fw fa-bell-o"></span>#}
    {#            <span style="#}
    {#      position: absolute;#}
    {#      top: 32px;#}
    {#      left: 0;#}
    {#      font-size: 14px;#}
    {#      right: 0;#}
    {#      text-align: center;#}
    {#  ">Notifications</span>#}
    {#            <span class="button__badge">1</span>#}
    {#        </a>#}
    {#    </li>#}
    <li>
        <a href="{% url 'messaging:messages' %}">
            <span class="fa fa-fw fa-comment-o"></span>
            <span style="
      position: absolute;
      top: 32px;
      left: 0;
      font-size: 14px;
      right: 0;
      text-align: center;
  ">Messages</span>

            <span class="button__badge">{{ request.user.get_new_message_count }}</span>
        </a>
    </li>
    <li class="dropdown">
        <a href="#" data-toggle="dropdown" data-hover="dropdown">
            <span class="fa fa-fw fa-user-o"></span>
            <span style="
      position: absolute;
      top: 32px;
      left: 0;
      font-size: 14px;
      right: 0;
      text-align: center;
  ">{{ request.user.get_short_name }}</span>
            <span class="caret"></span>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'user:dashboard' %}"><span class="fa fa-fw fa-dashboard"></span> Dashboard</a></li>
            <li><a href="{% url 'user:user_details' %}"><span class="fa fa-fw fa-user"></span> My Profile</a></li>
            <li class="divider"></li>

            {% if request.user.is_superuser %}
                <li><a href="{% url 'admin:index' %}"><span class="fa fa-fw fa-key"></span> Admin</a></li>
                <li class="divider"></li>
            {% endif %}

            <li><a href="{% url 'user:logout' %}"><span class="fa fa-fw fa-sign-out"></span> Sign out</a></li>
        </ul>
    </li>

{% endblock %}
