{% load static %}
<li class="list-inline-item message">
    <div class="dropdown">
        <a href="#" data-toggle="dropdown">Message<span>3</span></a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item active"><img src="/static/image/profile.png" alt=""
            >Jason Bourne<span>3 days ago</span></a>
            <a href="#" class="dropdown-item"><img src="/static/image/profile.png" alt="">Jessica
                Alba<span>1 hours ago</span></a>
            <a href="#" class="dropdown-item"><img src="/static/image/profile.png" alt="">Shakira<span>1
                                            monts ago</span></a>
        </div>
    </div>
</li>
<li class="list-inline-item notification">
    <div class="dropdown">
        <a href="#" data-toggle="dropdown">Notification</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item">Your account has been deleted.<span>3 days ago</span></a>
            <a href="#" class="dropdown-item">Your account has been
                approved.<span>1 hours ago</span></a>
            <a href="#" class="dropdown-item">Your account has been
                approved.<span>1 monts ago</span></a>
        </div>
    </div>
</li>
<li class="list-inline-item person">
    <a href="#">
        <div class="image"><img src="{% static 'image/placeholders/profile.png' %}" class="w-100"></div>
        {{ request.user.get_short_name|title }}
    </a>
</li>
<li class="list-inline-item setting">
    <div class="dropdown">
        <a href="#" data-toggle="dropdown">Setting</a>
        <div class="dropdown-menu dropdown-menu-right">
            <a href="#" class="dropdown-item">Settings</a>
            <a href="#" class="dropdown-item">My Profile</a>
            <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
        </div>
    </div>
</li>
