{% extends 'tenant/add_edit/base.html' %}
{% load static %}

{% block head_extra_scripts %}
    <script type="text/javascript" src="{% static 'admin/js/vendor/jquery/jquery.js' %}"></script>
    {{ hp_form.media }}
{% endblock %}

{% block listing-form-body %}
    <h1 class="property-title">Tell us who you are</h1>
    <form action="" method="POST" enctype="multipart/form-data">
        <div class="form-group">
            <div class="row">
                <div class="col-sm-12">

                    {% csrf_token %}


                    {{ hp_form.non_field_errors }}
                    {{ td_form.non_field_errors }}
                    {{ td_form.sex }}
                    {{ td_form.dob }}
                    Profile picture
                    {{ td_form.profile_pic }}
                    <div style="color: #42a597">Preferences</div>
                    {{ hp_form.tags.errors }}
                    {{ hp_form.tags }}
                    {{ hp_form.locations.errors }}
                    {{ hp_form.locations }}
                    <br>
                    <br>
                    {{ hp_form.description.errors }}
                    {{ hp_form.description }}
                </div>
            </div>
        </div>

        <p>&nbsp;</p>
        <div class="clearfix">
            <p class="pull-right clearfix">
                <input type="submit" class="btn btn-fullcolor" value="Save" name="save">
                <input type="submit" class="btn btn-default-color" value="Save & Next" name="savetonext">
            </p>
        </div>
    </form>

{% endblock %}

{% block js_script %}

    <script>
        // hide location input
        $(document).ready(function (event) {
            $('#id_tenancy_pref_locations_chzn').hide()
        });


        $(document).ready(function (event) {
            $('#id_tenancy-pref-description').attr('placeholder', 'Tell us a little bit about yourself! Why do you want a place medium term? What are you like as a tenant?')
        });


    </script>

{% endblock %}
