{% extends 'base.html' %}


{% block content %}

    <!-- BEGIN HOME SEARCH SECTION -->
    {% include 'search/utils/search_bar.html' %}
    <!-- END HOME SEARCH SECTION -->

    {% include 'utils/lateral_listing.html' %}

    <!-- BEGIN CONTENT WRAPPER -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <!-- BEGIN MAIN CONTENT -->
                <div class="main col-sm-12">
                    <h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">Why List
                        with Us?</h1>

                    <div class="feature col-xs-12 col-sm-3" data-animation-direction="from-bottom"
                         data-animation-delay="250">
                        <i class="fa fa-dollar"></i>
                        <h3>It's FREE</h3>
                        <p>Listing on Rentality is FREE.</p>
                    </div>
                    <div class="feature col-xs-12 col-sm-3" data-animation-direction="from-bottom"
                         data-animation-delay="450">
                        <i class="fa fa-paint-brush"></i>
                        <h3>Cleaning Service <br>
                            <small>(Coming Soon)</small>
                        </h3>
                        <p>A cleaner will clean the property after the tenancy.</p>
                    </div>
                    <div class="feature col-xs-12 col-sm-3" data-animation-direction="from-bottom"
                         data-animation-delay="650">
                        <i class="fa fa-key"></i>
                        <h3>Key Drop Off<br>
                            <small>(Coming Soon)</small>
                        </h3>
                        <p>We do key arrangements too!</p>
                    </div>
                    <div class="feature col-xs-12 col-sm-3" data-animation-direction="from-bottom"
                         data-animation-delay="850">
                        <i class="fa fa-wrench"></i>
                        <h3>Maintenance<br>
                            <small>(Coming Soon)</small>
                        </h3>
                        <p>We will find a tradesperson to repair and maintain for you.</p>
                    </div>

                </div>
                <!-- END MAIN CONTENT -->

            </div>
        </div>
    </div>
    <!-- END CONTENT WRAPPER -->



    <!-- BEGIN PARTNERS WRAPPER -->
    <div class="parallax pattern-bg" data-stellar-background-ratio="0.5">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-12">
                    {#                    <h1 class="section-title" data-animation-direction="from-bottom" data-animation-delay="50">Create an#}
                    {#                        account for free</h1>#}

                    <div id="partners">
                        <div class="item" data-animation-direction="from-bottom" data-animation-delay="250">
                            <a href="{% url 'user:sign_up' %}" class="btn btn-fullcolor">Create an account for free</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END PARTNERS WRAPPER -->
{% endblock %}


{% block js_script %}

    {% include 'search/utils/search_bar_js.html' %}

{% endblock %}
