{% extends 'base.html' %}

{% load static %}

{% block head_title_add %}
    About Us |
{% endblock %}

{% block page_description %}
    About us
{% endblock %}

{% block keyword_meta_add %}
    About us
{% endblock %}

{% block content %}
    <!-- page about image start -->
    <div class="page-about-image d-flex">
        <div class="w-100 align-self-center">
            <div class="container">
                <h1>A community marketplace for
                    <br>
                    temporary home rentals
                </h1>
            </div>
        </div>
    </div>
    <!-- page about image end -->
    <!-- page about text start -->
    <div class="page-about-text">
        <div class="container">
            <p>
                We are a marketplace that solves the problem of finding affordable temporary home rentals. Our mission
                is to make it possible for everyone to be able to travel longer in pursuit of their dream or passion.
            </p>
        </div>
    </div>
    <!-- page about text end -->
    <!-- page about black boxes start -->
{#    <div class="page-about-black-boxes">#}
{#        <div class="container">#}
{#            <div class="lists">#}
{#                <div class="row">#}
{#                    <div class="col-6 col-md-3">#}
{#                        <div class="list">#}
{#                            <div class="image">#}
{#                                <img src="{% static 'image/page-about/black-boxes/1.svg' %}" alt="" title="">#}
{#                            </div>#}
{#                            <h1>Total Home</h1>#}
{#                            <p>#}
{#                                <span class="counter">132</span>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-6 col-md-3">#}
{#                        <div class="list">#}
{#                            <div class="image">#}
{#                                <img src="{% static 'image/page-about/black-boxes/2.svg' %}" alt="" title="">#}
{#                            </div>#}
{#                            <h1>Active User</h1>#}
{#                            <p>#}
{#                                <span class="counter">657</span>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-6 col-md-3">#}
{#                        <div class="list">#}
{#                            <div class="image">#}
{#                                <img src="{% static 'image/page-about/black-boxes/3.svg' %}" alt="" title="">#}
{#                            </div>#}
{#                            <h1>Number of Booking</h1>#}
{#                            <p>#}
{#                                <span class="counter">86</span>#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                    <div class="col-6 col-md-3">#}
{#                        <div class="list">#}
{#                            <div class="image">#}
{#                                <img src="{% static 'image/page-about/black-boxes/4.svg' %}" alt="" title="">#}
{#                            </div>#}
{#                            <h1>Satisfied Customer</h1>#}
{#                            <p>#}
{#                                <span class="counter">97</span>%#}
{#                            </p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
    <!-- page about black boxes end -->
    <!-- page about content start -->
    <div class="page-about-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'image/page-about/content/1.jpeg' %}" class="w-100 bottom-margin" alt=""
                         title="">
                </div>
                <div class="col-md-6">
                    <h2>We make finding temporary home rentals easy</h2>
                    <p>We know from personal experience how complicated, time-consuming and expensive it is to find a
                        temporary home rental. Service apartments and hotels are too expensive and just don't feel like
                        home. Long-Term Residentials have a lot of requirements that take too much time to apply
                        for.</p>
                    <p>Here at Rentality, we are dedicated to help find you a home away from home that is affordable,
                        easy to book, safe and secure.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 d-block d-md-none d-lg-none d-xl-none">
                    <img src="{% static 'image/page-about/content/2.jpeg' %}" class="w-100 bottom-margin" alt=""
                         title="">
                </div>
                <div class="col-md-6">
                    <h2>Book your next accommodation with confidence</h2>
                    <p>We have built a platform that manages multiple listings showing real time updates on the
                        availability of properties. It is designed to make your bookings experience simple and quick;
                        you can expect a response from your booking in no more than 24 hours.</p>
                    <p>Our team actively monitors every listing and have built security measures to ensure legitimate
                        properties are listed. We care about your privacy and personal information, and we have built a
                        secure platform to ensure every listing, booking and payment made is safe.
                    </p>
                </div>
                <div class="col-md-6 d-none d-md-block d-lg-block d-xl-block">
                    <img src="{% static 'image/page-about/content/2.jpeg' %}" class="w-100 top-margin" alt=""
                         title="">
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <img src="{% static 'image/page-about/content/3.jpg' %}" class="w-100 bottom-margin" alt=""
                         title="">
                </div>
                <div class="col-md-6">
                    <h2>The Story of Rentality</h2>
                    <p>The founders of Rentality had personnally experienced the difficulties of finding and remotely
                        securing an affordable temporary home rental. We despised the complexity and the time it took
                        just to secure a temporary home rental remotely. So we decided to build a platform that would
                        make this whole process quick, simple and affordable.</p>
                    <p>Our vision is to enable everyone to travel for longer periods of time in pursuit of their
                        passion.
                    </p>
                </div>
            </div>
        </div>
    </div>
    <!-- page about content end -->
    <!-- page about our values start -->
    <div class="page-about-our-values">
        <div class="container">
            <h1>Our values</h1>
            <div class="row">
                <div class="col-md-6">
                    <div class="icon">
                        <div class="image">
                            <img src="{% static 'image/page-about/our-values/1.svg' %}" alt="" title="">
                        </div>
                        <h2>Safe and Secure</h2>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon">
                        <div class="image">
                            <img src="{% static 'image/page-about/our-values/2.svg' %}" alt="" title="">
                        </div>
                        <h2>Affordable and Quality Homes</h2>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon">
                        <div class="image">
                            <img src="{% static 'image/page-about/our-values/3.svg' %}" alt="" title="">
                        </div>
                        <h2>Seamless Experience</h2>

                    </div>
                </div>
                <div class="col-md-6">
                    <div class="icon">
                        <div class="image">
                            <img src="{% static 'image/page-about/our-values/4.svg' %}" alt="" title="">
                        </div>
                        <h2>Community Orientated</h2>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- page about our values end -->

    {% if not request.user.is_authenticated %}
        <!-- subscribe start -->
        <div class="subscribe">
            <div class="container">
                <h2 class="title">Subscribe for our Newsletter</h2>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <form action="" method="">
                            <div class="detail">
                                <div class="row">
                                    <div class="col-md-7 col-lg-8">
                                        <input type="text" name="" class="form-control"
                                               placeholder="Enter Email Address">
                                    </div>
                                    <div class="col-md-5 col-lg-4">
                                        <button type="button" class="btn btn-link btn-block">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <!-- subscribe end -->
    {% endif %}

{% endblock %}

{% block page_scripts %}
    <!-- counter start -->
    <script src="{% static 'script/jquery.waypoints.min.js' %}"></script>
    <script src="{% static 'script/jquery.counterup.min.js' %}"></script>
    <script>
        $(document).ready(function () {
            $('.counter').counterUp({
                delay: 10,
                time: 1500
            });
        });
    </script>
    <!-- counter end -->
{% endblock %}