{% extends 'base.html' %}

{% block head_title_add %}
    Contact Us |
{% endblock %}

{% block page_description %}
    Contact us
{% endblock %}

{% block keyword_meta_add %}
    Contact us
{% endblock %}

{% block content %}
<div class="page-apply-now">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-xl-12">
                <div class="left">
                    <h1>Customer Support </h1>
                    <div class="row">
                        <div class="col-md-8 col-lg-8">
                        	<h2> Contact Details </h2>
                                <a> Phone: (02) 84171126
                                <br>
                                	Email: admin@rentality.com.au
                                <br>
                                	Operating Hours: Monday - Friday 9.00 AM to 5.00 PM
                                </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}