{% extends 'base.html' %}

{% load static %}

{% block head_title_add %}
    About Us |
{% endblock %}

{% block page_description %}
    About us
{% endblock %}

{% block keyword_meta_add %}
    About us
{% endblock %}

{% block content %}
    <!-- page faq start -->
    <div class="page-faq">
        <div class="container-fluid">
            <h1 class="title">Faq</h1>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div id="accordion" class="accordion">
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1_1">
                                        Payment
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_1_1" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <div id="accordion-second" class="accordion">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#collapse_2_1">
                                                        How can I register?<span>User can register by entering a Username, First & Last Name, E-mail Address, DoB, Country of residence</span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse_2_1" class="collapse" data-parent="#accordion-second">
                                                <div class="card-body">
                                                    <p>1</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#collapse_2_2">
                                                        Verify Email ?<span>Once Registered, an email link will be sent to activate the account.</span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse_2_2" class="collapse show"
                                                 data-parent="#accordion-second">
                                                <div class="card-body">
                                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                                                        eiusmod
                                                        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                                        minim
                                                        veniam, quis nostrud exercitation ullamco laboris nisi ut
                                                        aliquip ex
                                                        ea
                                                        commodo consequat. Duis aute irure dolor in reprehenderit in
                                                        voluptate
                                                        velit esse cillum dolore eu fugiat nulla pariatur. Excepteur
                                                        sint
                                                        occaecat cupidatat non proident, sunt in culpa qui officia
                                                        deserunt
                                                        mollit anim id est laborum. Sed ut perspiciatis unde omnis iste
                                                        natus
                                                        error sit voluptatem accusantium doloremque laudantium, totam
                                                        rem
                                                        aperiam, eaque ipsa quae ab illo inventore veritatis et quasi
                                                        architecto
                                                        beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem
                                                        quia
                                                        voluptas sit aspernatur aut odit aut fugit, sed quia
                                                        consequuntur
                                                        magni
                                                        dolores eos qui ratione voluptatem sequi nesciunt. Neque porro
                                                        quisquam
                                                        est, qui dolorem ipsum quia dolor sit amet, consectetur,
                                                        adipisci
                                                        velit,
                                                        sed quia non numquam eius modi tempora incidunt ut labore et
                                                        dolore
                                                        magnam aliquam quaerat voluptatem.</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#collapse_2_3">
                                                        How can I Login ?<span>2 form of Government issued IDs, Picture, and proof of address.</span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse_2_3" class="collapse" data-parent="#accordion-second">
                                                <div class="card-body">
                                                    <p>3</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#collapse_2_4">
                                                        How can I register?<span>User can register by entering a Username, First & Last Name, E-mail Address, DoB, Country of residence</span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse_2_4" class="collapse" data-parent="#accordion-second">
                                                <div class="card-body">
                                                    <p>4</p>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">
                                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                                            data-target="#collapse_2_5">
                                                        How can I register?<span>Once Registered, an email link will be sent to activate the account.</span>
                                                    </button>
                                                </h5>
                                            </div>
                                            <div id="collapse_2_5" class="collapse" data-parent="#accordion-second">
                                                <div class="card-body">
                                                    <p>5</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1_2">
                                        Payment
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_1_2" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    2
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1_3">
                                        Contact us
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_1_3" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    3
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1_4">
                                        Tenant
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_1_4" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    4
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1_5">
                                        Hosts
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_1_5" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    5
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header">
                                <h5 class="mb-0">
                                    <button class="btn btn-link" type="button" data-toggle="collapse"
                                            data-target="#collapse_1_6">
                                        Legal
                                    </button>
                                </h5>
                            </div>
                            <div id="collapse_1_6" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    6
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-1"></div>
            </div>
        </div>
    </div>
    <!-- page faq end -->

    {% if not request.user.is_authenticated %}
        <!-- subscribe start -->
        <div class="subscribe">
            <div class="container">
                <h2 class="title">Subscribe for our Newsletter</h2>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-md-8">
                        <form action="" method="">
                            <div class="detail">
                                <div class="row">
                                    <div class="col-md-7 col-lg-8">
                                        <input type="text" name="" class="form-control"
                                               placeholder="Enter Email Address">
                                    </div>
                                    <div class="col-md-5 col-lg-4">
                                        <button type="button" class="btn btn-link btn-block">Subscribe</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
        </div>
        <!-- subscribe end -->
    {% endif %}

{% endblock %}