{% extends 'base.html' %}

{% load static %}
{% load thumbnail %}

{% block content %}
    <!-- page detail gallery start -->
    <div class="page-detail-gallery">
        <div class="loop owl-carousel owl-theme">
            {% for img in house.get_images %}
                <div class="item">
                    <a href="{{ img.image.url }}">
                        <img src="{{ img.image|thumbnail_url:'house_detail_small' }}" alt="" title="">
                    </a>
                </div>
            {% endfor %}

        </div>
    </div>
    <!-- page detail gallery end -->
    <!-- page detail start -->
    <div class="page-detail">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-xl-8">
                    <!-- page detail left start -->
                    <div class="left">
                        <!-- page detail left title start -->
                        <div class="title">
                            <h1>{{ house.title|title }}</h1>
                            <p class="address">{{ house.get_address|title }}</p>
                        </div>
                        <!-- page detail left title end -->
                        <!-- page detail left box start -->
                        <div class="box">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="title">
                                        {% if house.furnished == 'Y' %}
                                            Furnished {{ house.get_home_type_display }}
                                        {% else %}
                                            Unfurnished {{ house.get_home_type_display }}
                                        {% endif %}
                                    </div>
                                </div>
                                <div class="col-md-6"></div>
                                <div class="col-md-3">
                                    <div class="icon">
                                        <div class="image">
                                            <img src="{% static 'image/page-detail/left-box/1.svg' %}" alt="" title="">
                                        </div>
                                        <p>{{ house.bedrooms }} Bedroom{{ house.bedrooms|pluralize }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="icon">
                                        <div class="image">
                                            <img src="{% static 'image/page-detail/left-box/2.svg' %}" alt="" title="">
                                        </div>
                                        <p>{{ house.bathrooms }} Bathroom{{ house.bathrooms|pluralize }}</p>
                                    </div>
                                </div>
                                <div class="col-md-3">
                                    <div class="icon">
                                        <div class="image">
                                            <img src="{% static 'image/page-detail/left-box/3.svg' %}" alt="" title="">
                                        </div>
                                        <p>{{ house.parking }} Parking Space{{ house.parking|pluralize }} </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- page detail left box end -->
                        <!-- page detail left about start -->
                        <div class="about">
                            <h2>About The Property</h2>
                            <h3>Tenant Access</h3>
                            <p>
                                {{ house.access_restrictions|linebreaks }}
                            </p>
                            {% if house.other_people_description %}
                                <h3>Other People in the house</h3>
                                <p>
                                    {{ house.other_people_description|linebreaks }}
                                </p>

                            {% endif %}
                            <h3>Welcome to</h3>
                            <ul class="list-inline">
                                {% for welcome_tag in house.get_welcome_tags %}
                                    <li class="list-inline-item">{{ welcome_tag.verbose }}</li>
                                {% endfor %}
                            </ul>

                        </div>
                        <!-- page detail left about end -->
                        <!-- page detail left facility start -->
                        <div class="facility">
                            <h2>Housing Facilities</h2>
                            {#                            <div class="hide">#}
                            <ul class="list-inline">
                                {% for facility in house.get_facilities %}
                                    <li class="list-inline-item">{{ facility.verbose }}</li>
                                {% endfor %}
                            </ul>
                            {#                            </div>#}
                            {#                            <div class="text-right">#}
                            {#                                <button class="btn btn-link">See more</button>#}
                            {#                            </div>#}
                        </div>
                        <!-- page detail left facility end -->
                        <!-- page detail left rule start -->
                        <div class="rule">
                            <h2>Housing Rules</h2>
                            {% for rule in house.get_rules %}
                                <div class="row">
                                    <div class="col-md-3">{{ rule.rule.verbose }}</div>
                                    <div class="col-md-3">{{ rule.value }}</div>
                                    <div class="col-md-6">{{ rule.comment }}</div>
                                </div>
                            {% endfor %}
                            <p>{{ house.other_rules|linebreaks }}</p>
                        </div>
                        <!-- page detail left rule end -->


                        <!-- page detail left available start -->
                        <div class="available">
                            <h2>Availability</h2>
                            <p>Minimum Length of Stay - <span>{{ house.min_stay }} days</span></p>
                            <p>Maximum Length of Stay - <span>{% if house.max_stay %}{{ house.max_stay }} days{% else %}
                                No Limit {% endif %}</span></p>
                            <p>Maximum number of people allowed - <span>{{ house.max_people_allowed }}</span></p>
                            <h2>Cancellation Policy</h2>
                            <h3>{{ house.cancellation_policy.verbose }}</h3>
                            <p>{{ house.cancellation_policy.description }}</p>
                        </div>
                        <!-- page detail left available end -->
                        <!-- page detail left map start -->
                        <div class="map">
                            <h2>About Area</h2>
                            <div id="map">
                                <iframe width="100%" height="100%" frameborder="0" style="border:0"
                                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyClsJFzjgJBxhY3D4HDn4V_EG9Y5FYqdqQ&q={{ house.get_location|urlencode }}"
                                        allowfullscreen>
                                </iframe>
                            </div>
                            <h3>Local area facility</h3>
                            <ul class="list-inline">
                                {% for nearby_facility in house.get_neighbourhood_facilities %}
                                    <li class="list-inline-item">{{ nearby_facility.verbose }}</li>
                                {% endfor %}
                            </ul>
                            <p>
                                {{ house.neighbourhood_description|linebreaks }}
                            </p>
                        </div>
                        <!-- page detail left map end -->

                    </div>
                    <!-- page detail left end -->
                </div>
                <div class="col-lg-5 col-xl-4">
                    <!-- page detail right start -->
                    <div class="right">
                        <!-- page detail right user start -->
                        <div class="user">
                            {% static 'image/placeholders/profile-large.png' as default_profile_pic %}
                            <img src="{{ house.get_owner.userprofile.profile_pic|thumbnail_url:'profile_house_info'|default:default_profile_pic }}"
                                 class="rounded-circle" alt=""
                                 title="">
                            <h2>{{ house.get_owner.get_full_name|title }}</h2>
                            {#                            <div class="star x5"></div>#}
                            <div class="list">
                                <ul class="list-inline">
                                    <li class="list-inline-item title">Hobbies</li>
                                    {% for personality_tag in house.get_owner.userprofile.get_personality_tags %}
                                        <li class="list-inline-item"><a href="">#{{ personality_tag }}</a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <!-- page detail right user end -->
                        <!-- page detail right date start -->
                        <div class="date">
                            <div class="title">Date</div>
                            <div class="in-out">
                                <div class="row">
                                    <div class="col-5">
                                        <div class="sub-title">Move in</div>
                                        <input type="text" class="form-control" value="Dec 08 2018" readonly
                                               data-toggle="datepicker">
                                    </div>
                                    <div class="col-2 center-arrow"></div>
                                    <div class="col-5">
                                        <div class="sub-title text-right">Move out</div>
                                        <input type="text" class="form-control text-right" value="Jan 06 2019" readonly
                                               data-toggle="datepicker">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- page detail right date end -->
                        <!-- page detail right quest start -->
                        <div class="quest">
                            <div class="row">
                                <div class="col-8">
                                    <div class="title">Number of Guests</div>
                                </div>
                                <div class="col-4">
                                    <div class="select-arrow">
                                        <select class="form-control">
                                            {% with ''|center:house.max_people_allowed as range %}
                                                {% for option_num in range%}
                                                    <option>{{ forloop.counter }}</option>
                                                {% endfor %}
                                            {% endwith %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- page detail right quest end -->
                        <!-- page detail right amount start -->
                        <div class="amount">
                            <div class="calculate">
                                <div class="left-padding">
                                    <div class="row">
                                        <div class="col-8 gray">Rent (${{ house.rent }}) x 4 weeks:</div>
                                        <div class="col-4 text-right bold">${% widthratio house.rent 1 4 %} AUD</div>
                                    </div>
                                    <div class="row bottom-margin">
                                        <div class="col-8 gray">Service fee:
                                        </div>
                                        <div class="col-4 text-right bold">${% widthratio house.rent 100 32 %} AUD</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8 gray">Amount payable:</div>
                                        <div class="col-4"></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-8 gray"><span>(First month + Service fee)</span></div>
                                        {% widthratio house.rent 100 32 as service_fee %}
                                        <div class="col-4 text-right normal">${{ house.rent|add:service_fee }} AUD</div>
                                    </div>
                                </div>
                            </div>
                            <div class="left-padding">
                                <div class="row">
                                    <div class="col-8 small-normal">Amount payable</div>
                                    <div class="col-4 text-right red">${{ house.rent|add:service_fee }} AUD</div>
                                </div>
                            </div>
                            <div class="left-right-margin">
                                <button type="button" class="btn btn-link btn-block">Apply Now</button>
                            </div>
                        </div>
                        <!-- page detail right amount end -->
                    </div>
                    <!-- page detail right end -->
                </div>
            </div>
        </div>
    </div>
{% endblock %}